//
// Custom navigation
// --------------------------------------------------


// MAIN
// ----------------
.nav-main {
  display: block;
  width: 100%;

  ul {
    display: table;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;

    li {
      display: table-cell;

      a {
        @include border-radius(5px);
        @include box-shadow("0 1px 5px rgba(0, 0, 0, 0.1)");
        display: block;
        font-family: "ProximaNova-Regular", Verdana, sans-serif;
        font-size: 16px;
        height: 120px;
        line-height: 120px;
        margin: 0 10px;
        text-align: center;
        @include transition(all 0.2s ease-in-out 0s);

        &:hover {
          @include box-shadow("0 1px 5px rgba(0, 0, 0, 0.5)");
        }
      }
      span {
        display: inline-block;
        line-height: normal;
        vertical-align: middle;

        img {
          display: block;
          margin: 0 auto 7px;
        }
      }

      &.nav-4-items {
        width: 25%;
      }

      &.nav-5-items {
        width: 20%;
      }

      &.nav-6-items {
        width: 16.667%;
      }
    }
  }
}


// TREEVIEW
// ----------------
/* http://acidmartin.wordpress.com/2011/09/26/css3-treevew-no-javascript/ */
.nav-treeview {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      background: #F5F5F5;
      padding: 2px 8px;
    }
  }
  input {
    opacity: 0;
    position: absolute;
  }
  input + label + ul li {
    border-top: 1px dotted $grayLight;
    padding-left: 22px;

    &:hover {
      background: $white;
    }
  }
  input ~ ul {
    display: none;
  }
  a,
  label,
  label:before {
    display: inline-block;
    font-size: 14px;
    height: 20px;
    line-height: 20px;
    vertical-align: middle;
  }
  label,
  label:before {
    cursor: pointer;
  }
  label {
    margin-top: 0;
  }
  label:before {
    content: "\f0c1";
    font-family: 'icomoon';
    -webkit-font-smoothing: antialiased;
            font-smoothing: antialiased;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    margin-right: 2px;
    margin-top: 5px;
    speak: none;
    vertical-align: middle;
    width: 16px;
  }  
  label.branch:before {
    content: "\f07b";
    margin-right: 4px;
    margin-top: 2px;
  }
  input:checked + label.branch:before {
    content: "\f07c";
  }
  input:disabled + label {
    cursor: default;
    opacity: .6;
  }
  input:checked:not(:disabled) ~ ul {
    display: block;
  }
}

/* webkit adjacent element selector bugfix */
@media screen and (-webkit-min-device-pixel-ratio:0) {

  .nav-treeview {
    -webkit-animation: webkit-adjacent-element-selector-bugfix infinite 1s;
  }  
  @-webkit-keyframes webkit-adjacent-element-selector-bugfix {

    from { 
      padding: 0;
    } 
    to { 
      padding: 0;
    }
  }
}



// ARTICLE LIST
// ------------
.nav-articles {
  margin-top: 20px;

  > li {
    font-size: 16px;

    > a {
      border-top: 1px solid #DDDFE0;
      color: $gray;
      padding: $baseLineHeight 15px;

      &:hover {
        color: $grayDark;
      }
    }
  }
}

