//
// Custom typography
// --------------------------------------------------


// Headings
// -------------------------
h1, h2, h3, h4, h5, h6 {
  font-family: $headingsFontFamily;
  font-weight: 700;
}

.fontface { // If web fonts are supported

  h1, h2, h3, h4, h5, h6 {
    font-weight: $headingsFontWeight;
  }
}


// Headers
// -------------------------
.page-header,
.section-header {

   h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }
}
.page-header {
  margin: $baseLineHeight 0 ($baseLineHeight * 1.5);
}
.section-header {
  background: #EAEFF1;
  border-top: 1px solid #E0E3E4;
  margin: $baseLineHeight 0 ($baseLineHeight * 1.5);
  padding: $baseLineHeight/2 15px;

  h1, h2, h3, h4, h5, h6 {
    color: $orange;
  }
}


// Lists
// -------------------------

ul,
ol {
  margin-bottom: $baseLineHeight;
}


// Components
// -------------------------

.dropdown-menu {
  color: $black;
}


// Buttons
// -------------------------
.btn small {
  display: block;
}


// Modals
.modal {
  color: $gray;
  width: 515px;

  form {
    margin: 0;
  }
}
.modal-header {
  padding: 10px 15px;
}
.modal-body {
  padding: 20px 15px 15px;
}
.modal-footer {
  padding: 19px 15px 20px;
}


// Tooltips
.tooltip {
  &.top    { margin-top:  -10px; }
  &.left   { margin-left: -10px; }
}


// Images
figcaption {
  padding: 5px 1px;
}


