//
// Custom typography
// --------------------------------------------------

// Links
// -------------------------

a {
  color: $linkColor;
}
a:hover,
a:focus {
  color: $linkColorHover;
}
a:active {
  background-color: $linkColorHover;
  color: #FFF;
}


// Headings
// -------------------------
h1, h2, h3, h4, h5, h6 {
  font-family: $headingsFontFamily;
  font-weight: 700;
}

.fontface { // If web fonts are supported

  h1, h2, h3, h4, h5, h6 {
    font-weight: $headingsFontWeight;
  }
}


// Headers
// -------------------------
.page-header,
.section-header {

   h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }
}
.page-header {
  margin: $baseLineHeight 0 ($baseLineHeight * 1.5);
}
.section-header {
  background: #EAEFF1;
  border-top: 1px solid #E0E3E4;
  margin: $baseLineHeight 0 ($baseLineHeight * 1.5);
  padding: $baseLineHeight/2 15px;

  h1, h2, h3, h4, h5, h6 {
    color: $orange;
  }
}


// Dividers
// -------------------------
.sep {
  border-bottom: 1px solid #FFFFFF;
  border-top: 1px solid #DDDDDD;
  clear: both;
  height: 0;
  margin: 40px 0 39px;
  position: relative;
  z-index: 99;
  
  span {
    border: medium none;
    display: block;
    height: 80px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: -80px;
    z-index: 100;
  }
  .left {
    background: radial-gradient(at right bottom , rgba(0, 0, 0, 0.06), transparent 80px) repeat scroll 0 0 transparent;
    background: -webkit-radial-gradient(bottom right,circle,rgba(0,0,0,0.06),rgba(0,0,0,0) 80px);
    background: -moz-radial-gradient(bottom right,rgba(0,0,0,0.06),rgba(0,0,0,0) 80px);
        left: 0;
        width: 80px;
  }
  .center {
    background: radial-gradient(at left bottom , rgba(0, 0, 0, 0.06), transparent 80px) repeat scroll 0 0 transparent;
    background: -webkit-radial-gradient(bottom left,circle,rgba(0,0,0,0.06),rgba(0,0,0,0) 80px);
    background: -moz-radial-gradient(bottom left,rgba(0,0,0,0.06),rgba(0,0,0,0) 80px);
        right: 0;
        width: 80px;
  }
  .right {
    background: -webkit-linear-gradient(bottom,rgba(0,0,0,0.06),rgba(0,0,0,0) 80px);
    background: -moz-linear-gradient(bottom,rgba(0,0,0,0.06),rgba(0,0,0,0) 80px);
    margin-left: 80px;
    margin-right: 80px;
    position: relative;
    top: -80px;
  }
}



// Lists
// -------------------------

ul,
ol {
  margin-bottom: $baseLineHeight;
}


// Components
// -------------------------

.alert {
  background-color: transparent;
}
.dropdown-menu {
  color: $black;
}
.well-clear {
  background-color: transparent;
}

// Buttons
.btn-link {
  padding-left: 0;
  padding-right: 0;

  .caret {
    border-top-color: $linkColor;
  }
  &:hover .caret {
    border-top-color: $linkColorHover;
  }
}
.btn small {
  display: block;
}


// Modals
.modal {
  color: $gray;
  width: 515px;

  form {
    margin: 0;
  }
}
.modal-header {
  padding: 10px 15px;
}
.modal-body {
  padding: 20px 15px 15px;
}
.modal-footer {
  padding: 19px 15px 20px;
}


// Tooltips
.tooltip {
  &.top    { margin-top:  -10px; }
  &.left   { margin-left: -10px; }
}


// Images
figcaption {
  padding: 5px 1px;
}


