/*------------------------------------*\
    $THEME
    $RESPONSIVE
    $1200px-min
\*------------------------------------*/


// Article
// ---------------------------
.article-list > li {
  font-size: 18px;
}
.article-left-sidebar .sidebar .nav > li > a {
  font-size: 24px;
  line-height: 26px;
  padding: 12px 15px;
}
.article-right-sidebar .span8 .main-content {
  margin-right: -4%;
}
.article-left-sidebar.article-right-sidebar .span8 .main-content {      
  margin-left: -3.9%;
}

// Magazine
h2.teaser-title {
  font-size: 24px;
  line-height: 26px;
}
h3.teaser-title {
  font-size: 18px;
  line-height: 22px;
}


// Hero Units
// -------------------------------
.hero-unit {

  h1 {
    font-size: 72px;
  }
  p {
    font-size: 24px;
  }
}


// Hero with image background
// -------------------------------
.hero-image {

  .image {
    min-height: 600px;
  }
  .caption-title {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 10px;
  }
  .caption-text {
    font-size: 20px;
    line-height: 24px;
  }
}


// Health Insurance Guide
// -------------------------------
#understanding-insurance {

  .hero-caption {
    bottom: $gridGutterWidth * 2;
    left: $gridGutterWidth * 3;
    right: $gridGutterWidth * 3;
  }
  .hero-inner {
    padding: $gridGutterWidth * 3 $gridGutterWidth * 3 $gridGutterWidth * 2;
  }
  .search-button {
    height: 65px;
    padding: 0 20px;
  }  
  .search-input {
    font-size: 34px;
    line-height: 40px;
    padding: 10px 18px 11px;
  }
}


// Shop For Insurance
.hero-shopping {

  .image {
    min-height: 375px;
  }
  .nav > li > a {
    font-size: 24px;
    line-height: 24px;
  }
}


// MyRegence & MyAsuris
.hero-myregence {

  .image {
    min-height: 398px;
  }
  h1 {
    font-size: 32px;
    line-height: 40px;
  }
  p, .btn {
    font-size: 28px;
  }
}


// Provider Search
.hero-find-doctor {

  .image {
    min-height: 398px;
  }
}


// Contact info
// ---------------------------
#top {

  .container {
    width: 1170px;
  }
}


// Contact info
// ---------------------------
table.contact-info {
  font-size: 24px;
  line-height: 20px;

  small {
    font-size: 15px;
    line-height: 11px;
  }
  td.contact-info-glyph {
    padding: 20px 12px 20px 20px;    
  }
  td.contact-info-entry {
    padding: 20px 12px 20px 5px;
  }
}

.contact-info-glyph {

  .glyph-phone,
  .glyph-email,
  .glyph-phone:before,
  .glyph-email:before {
    font-size: 50px;
    height: 60px;
    line-height: 60px;
    width: 60px;
  }
}

// Google Map
#map_canvas {
  float: right;
  width: 580px;
}
