/*------------------------------------*\
  $THEME
  $RESPONSIVE
  $980px-min
\*------------------------------------*/


// Article
// --------------------------------------
.article-left-sidebar {

  .sidebar {
    border-right: 1px solid $contentBorder;
  }
}


// Hero with image background
// ----------------------------/
.hero-image {
  padding: 0; // redeclared for specificity
}


// Hero home
// ----------------------------/
#hero-home {

  .hero-unit {
    height: 360px;
  }
  .nav-pills {

    li {
      width: 20%;
    }
    li > a {
      background-color: $white;
      @include box-shadow("0 1px 5px rgba(0,0,0,.1)");
      display: block;
      font: 24px $sansFontFamilyLight;
      line-height: 30px;
      margin: 0 10px;
      padding: 45px 0;
      text-align: center;
      vertical-align: middle;
    }
    .active > a, 
    .active > a:hover {
      background-color: #076DA5;
      @include box-shadow("0 2px 4px rgba(0,0,0,.2) inset, 0 2px 4px rgba(255,255,255,.8)");
    }
    .tab-individual a,
    .tab-medicare a {
      padding: 30px 0;
    }
  }
}


// Health Insurance Guide
// -------------------------------
#hero-understanding-insurance {

  .media-body {
    overflow: hidden;
    text-overflow: ellipsis;

    em {
      color: $accent;
      font-style: normal;
      text-transform: uppercase;
    }
  }

  .search-button {
    line-height: normal;
  }
}


// Top
// ---------------------------
#top {

  .nav .nav-brand {

    .brand {
      border-left: none;
      padding-left: 0;
    }
  }

  .nav .nav-search {
    width: auto;

    form {
      border-top: none;
    }
  }
  
  .nav .nav-shopping {
    clear: none;
    float: right;
    width: auto;

    > a {
      border-left: none;
      border-top: none;
    }
  }
}


// Contact Us
// ----------

// Google Map
#map_sidebar {
  float: left;
}
#map_canvas {
  float: right;
}
