/*!
 * Main - Custom Styles
 *
 * Author - Nic Marson
 * Date - 5/9/2013
 * Version - 1.5
 *
 */


// Bootstrap
// --------------------------------------------------
@import url(bootstrap/bootstrap.css);
@import url(bootstrap/responsive.css);


// Core variables and mixins
// --------------------------------------------------
//import "compass";
@import "variables/default";
@import "variables/mixins";


// Font for icons
// --------------------------------------------------
@font-face {
  font-family: 'icomoon';
  src:url('fonts/icomoon.eot');
  src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
    url('fonts/icomoon.svg#icomoon') format('svg'),
    url('fonts/icomoon.woff') format('woff'),
    url('fonts/icomoon.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


// COMPONENTS
// --------------------------------------------------
@import "components/application";
@import "components/utilities";
@import "components/sprites";



// GLOBAL MEDIA QUERIES
// --------------------------------------------------

// Custom: Large desktop and up
// --------------------------------------------------
@media (min-width: 1200px) {

  body {
    font-size: 16px;
    line-height: 24px;
  }
}

// Custom: Landscape phone to desktop/tablet
// --------------------------------------------------
@media (max-width: 767px) {

  // Padding to set content in a bit
  .container {
    min-width: 360px;
    padding-left: 20px;
    padding-right: 20px;
  }
}


// COLOR SCHEMES
// --------------------------------------------------
@import "color_schemes/asuris";
@import "color_schemes/bridge";
@import "color_schemes/regence";

