// Bootstrap and Bootstrap responsive
@import url(bootstrap/bootstrap.css);
@import url(bootstrap/responsive.css);

// Base theme styles
@import "cambia";

// Asuris theme styles
@import "color_schemes/asuris";

// Bridgespan theme styles
@import "color_schemes/bridge";

// Regence theme styles
@import "color_schemes/regence";


// LIFERAY
//-------------------------------

.portlet-topper-toolbar {

    a:hover {
        background-color: $grayLighter;
    }
    span {
        float: left;
        margin: 0 2px;
        width: 16px;
    }
    img {
        float: left;
    }
}

.lfr-portlet-title-editable {
    margin-top: -4px;
    z-index: 9999;
}

.lfr-portlet-title-editable-content {
    padding: 0;
}


// SIGNED IN
//-------------------------------

.signed-in {

    #main .portlet {
        background: #fff;
        border: 1px solid #9AC1E7;
        margin: 0 0 10px;
        padding: 3px;
    }

    .portlet-title {
        float: none;
        font-weight: bold;
        min-width: 50%;
        padding: 5px;
        text-shadow: 1px 1px #FFF;
    }

    .portlet-topper {
        border-bottom: 1px solid #AEB8BC;
        @include box-shadow(1px 1px 0 #FFF);
        padding-right: 40px;
    }

    .portlet-column-content.empty {
        background-color: $grayLighter;
        background-image: repeating-linear-gradient(-45deg, rgba(255,255,255, 0.25), rgba(255,255,255, 0.25) 1px, transparent 1px, transparent 6px);
        background-size: 8px 8px;
    }

    .portlet-borderless-bar {
        @include border-radius(20px);
        @include box-shadow(inset 0 1px 3px #000);
    }
}


// Icons
//-------------------------------

.portlet-icons {
    float: none;
}

.portlet-icons .portlet-close-icon {
    border-width: 0;
}

.portlet-journal-content .icon-actions {
    background: none;
    height: 16px;
    width: auto;
}

.page-maximized .portlet-icons {
    font-size: 11px;
}

.taglib-icon:hover {
    text-decoration: none;
}


// AUI
//-------------------------------

.aui-combobox {

    .aui-field-input {
        padding: 4px 3px 3px;
        font-size: 11px;
        height: 15px;
    }

    .aui-field {
        float: left;
        line-height: 0;
    }
}

.lfr-portlet-title-editable-content .aui-field {
    float: none;
    display: inline;
}


// IE
//-------------------------------

.ie .portlet-title {
    padding-bottom: 5px;
}

.ie .lfr-portlet-title-editable-content {
    margin-top: 4px;
}

.ie .lfr-portlet-title-editable {
    margin-top: -6px;
}

.ie6 .portlet-topper {
    zoom: 1;
}

.lfr-panel-container {
    background-color: transparent;
}
