@import url(bootstrap/bootstrap.css);

@import url(bootstrap/responsive.css);

@import url(cambia.css);

@import url(color_schemes/asuris.scss);

@import url(color_schemes/bridgespan.scss);

@import url(color_schemes/regence.scss);

/* ---------- Portlet wrapper and icons ---------- */

.portlet {
	background: #fff;
	border: 1px solid #9AC1E7;
	margin: 0 0 10px;
	padding: 3px;
}
.portlet-topper {
	border-bottom: 1px solid #AEB8BC;
	padding-right: 40px;
}

.portlet-title {
	float: none;
	font-weight: bold;
	min-width: 50%;
	padding: 5px;
	text-shadow: 1px 1px #FFF;
}

.lfr-portlet-title-editable {
	margin-top: -4px;
	z-index: 9999;
}

.ie .lfr-portlet-title-editable {
	margin-top: -6px;
}

.lfr-portlet-title-editable-content {
	padding: 0;
}

.ie .lfr-portlet-title-editable-content {
	margin-top: 4px;
}

.portlet-icons {
	float: none;
}

.portlet-icons .portlet-close-icon {
	border-width: 0;
}

.page-maximized .portlet-icons {
	font-size: 11px;
}

.portlet-icon-back {
}

.ie .portlet-title {
	padding-bottom: 5px;
}

.ie6 .portlet-topper {
	zoom: 1;
}



/* ---------- Misc. ---------- */

.lfr-panel-container {
	background-color: transparent;
}

.aui-combobox .aui-field-input {
	padding: 4px 3px 3px;
	font-size: 11px;
	height: 15px;
}

.aui-combobox .aui-field {
	float: left;
	line-height: 0;
}

.lfr-portlet-title-editable-content .aui-field {
	float: none;
	display: inline;
}

/* ---------- Extras ---------- */

.portlet-borderless-bar {
	-moz-border-radius: 20px;
	-moz-box-shadow: inset 0 1px 3px #000;
	-webkit-border-radius: 20px;
	-webkit-box-shadow: inset 0 1px 3px #000;
	border-radius: 20px;
	box-shadow: inset 0 1px 3px #000;
}

.portlet-topper {
	-moz-box-shadow: 1px 1px 0 #FFF;
	-webkit-box-shadow: 1px 1px 0 #FFF;
	box-shadow: 1px 1px 0 #FFF;
}

.aui-combobox .aui-toolbar-first {
	-moz-border-radius-topleft: 0;
	-moz-border-radius-bottomleft: 0;
	-webkit-border-top-left-radius: 0;
	-webkit-border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

