/*------------------------------------*\
    $REGENCE
    $COLOR_SCHEME
\*------------------------------------*/

// Variables
@import "variables/regence"; // Load regence colors and styles


// --------------------------------------
// Regence only theme styles
// --------------------------------------

.regence {

  // Import theme fonts and colors
  // --------------------------------------
  @import "themes/colors";
  

  // Theme utilities
  // --------------------------------------
  .asuris-only,
  .bridge-only {
    display: none;
  }


  // Article sidebar
  // -------------------------
  article .sidebar {
    background-color: $asideBackground;

    h3 {
      background: $asideHeadingBackground;
      border-bottom: 1px solid $asideHeadingBorder;
      border-top: 1px solid $asideHeadingBorder;
      font-family: $sansFontFamilyLight;
    }
  }

  // Article left sidebar
  .article-left-sidebar .sidebar {

    .nav > li > a {
      border-top: 1px solid $grayLighter;
      font-family: $sansFontFamilyLight;

      &:hover {
        color: $accent;
      }
    }

    .nav > .active > a,
    .nav > .active > a:hover {
      color: $accent;
    }
  }


  // Audience dropdown
  // --------------------------------------
  #set-view-location {
    background: #55a8d5;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzU1YThkNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjE1JSIgc3RvcC1jb2xvcj0iIzU1YThkNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzZDhjYjYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #55a8d5 0%, #55a8d5 15%, #3d8cb6 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#55a8d5), color-stop(15%,#55a8d5), color-stop(100%,#3d8cb6));
    background: -webkit-linear-gradient(top,  #55a8d5 0%,#55a8d5 15%,#3d8cb6 100%);
    background: -o-linear-gradient(top,  #55a8d5 0%,#55a8d5 15%,#3d8cb6 100%);
    background: -ms-linear-gradient(top,  #55a8d5 0%,#55a8d5 15%,#3d8cb6 100%);
    background: linear-gradient(to bottom,  #55a8d5 0%,#55a8d5 15%,#3d8cb6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#55a8d5', endColorstr='#3d8cb6',GradientType=0 );
  }
}
