/*------------------------------------*\
    $ASURIS
    $COLOR_SCHEME
\*------------------------------------*/

// Variables
@import "variables/asuris"; // Load asuris colors and styles


// --------------------------------------
// Asuris only theme styles
// --------------------------------------

.asuris {
  color: $textColor;


  // Import shared components
  // --------------------------------------
  @import "shared/components/general";
  @import "shared/components/application";
  @import "shared/components/navigation";
  @import "shared/components/article";
  @import "shared/components/hero";


  // Import shared locations
  // --------------------------------------
  @import "shared/locations/top";
  @import "shared/locations/bottom";
  @import "shared/locations/contact";


  // Asuris only styles
  // --------------------------------------

  // Theme utilities
  // --------------------------------------
  .regence-only,
  .bridge-only {
    display: none;
  }


  // NAV MAIN
  // --------------------------------------
  .nav-main ul li a {
    @include border-radius(5px);
  }


  // Article sidebar
  // --------------------------------------
  article .sidebar {
      
    h3 {
      background: $asideHeadingBackground;
      border-bottom: 1px solid $asideHeadingBorder;
      border-top: 1px solid $asideHeadingBorder;
      color: $asideHeadingColor;
      font-size: 24px;
      line-height: 28px;
      padding: 8px 15px;
    }

    .nav > li > a {
      color: $textColor;

      &:hover {
        background: $white;
        color: $linkColorHover;
        text-decoration: underline;
      }
    }

    .nav > .active > a,
    .nav > .active > a:hover {
      background: none;
      color: $linkColorHover;
      text-shadow: 0 1px 0 rgba(255,255,255,.5);
    }
  }


  // Article left sidebar
  // --------------------------------------
  .article-left-sidebar .sidebar {

    .nav > li > a {
      color: $grayLight;
      font: 24px $sansFontFamilyLight;
      line-height: 24px;
      padding: 12px 15px;

      &:hover {
        color: $accent;
        text-decoration: none;
      }
    }

    .nav > .active > a,
    .nav > .active > a:hover {
      color: $accent;
    }
  }
  

  // Audience dropdown
  // -------------------------
  #set-view-location {
    @include gradient-vertical(lighten($brand, 15%), $brand);
  }
}


//
// RESPONSIVE
// --------------------------------------


//
// Custom: Large desktop and up
// --------------------------------------------------
@media (min-width: 1200px) {

  .asuris {
    @import "shared/responsive/1200px-min";
  }
}


// Responsive: Desktop to large desktop
// --------------------------------------------------
@media (min-width: 980px) and (max-width: 1199px) {

  .asuris {
    @import "shared/responsive/980px-1199px";
  }
}


// Desktops and larger
// --------------------------------------
@media (min-width: 980px) {

  .asuris {
    @import "shared/responsive/980px-min";
  }
}


// Responsive: Tablet to desktop
// --------------------------------------
@media (min-width: 768px) and (max-width: 979px) {

  .asuris {
    @import "shared/responsive/768px-979px";


    // Article
    // --------------------------------------
    .article-left-sidebar {

      .sidebar {
        border-right: 1px solid $contentBorder;
      }
    }
  }
}


// Responsive: Tablet to large desktops
// --------------------------------------
@media (min-width: 768px) {

  .asuris {
    @import "shared/responsive/768px-min";
  }
}


// Responsive: Tablet to desktop
// --------------------------------------
@media (min-width: 768px) and (max-width: 979px) {

  .asuris {
    @import "shared/responsive/768px-979px";
  }
}


// Tablet
// --------------------------------------
@media (max-width: 767px) {

  .regence {
    @import "shared/responsive/768px-979px";
  }
}


//
// MODERNIZR
// --------------------------------------


// Font face
// -------------------------
.fontface .asuris { // If web fonts are supported

  h1, h2, h3, h4, h5, h6 {
    font-weight: $headingsFontWeight;
  }
}
