/*------------------------------------*\
    $BRIDGESPAN
    $COLOR_SCHEME
\*------------------------------------*/

// Variables
@import "variables/bridge"; // Load bridgespan colors and styles


// --------------------------------------
// Bridgespan only theme styles
// --------------------------------------

.bridge {
  color: $textColor;


  // Import shared components
  // --------------------------------------
  @import "shared/components/general";
  @import "shared/components/navigation";
  @import "shared/components/article";
  @import "shared/components/hero";


  // Import shared locations
  // --------------------------------------
  @import "shared/locations/top";
  @import "shared/locations/bottom";
  @import "shared/locations/contact";


  // Bridge only styles
  // --------------------------------------

  // Theme utilities
  // --------------------------------------
  .asuris-only,
  .regence-only {
    display: none;
  }


  // Headings
  // --------------------------------------
  h1,
  h2,
  h3 {
    font-family: $sansFontFamilyBold;
  }


  // Caret
  // --------------------------------------
  .bridge-caret {
    border: 5px solid $accent;
    @include border-radius(20px);
    display: inline-block;
    height: 0;
    padding: 11px;
    vertical-align: top;
    width: 0;

    &:after {
      border-bottom: 8px solid transparent;
      border-left: 8px solid $grayLight;
      border-top: 8px solid transparent;
      content: "";
      display: block;
      height: 0;
      margin-left: -2px;
      margin-top: -7px;
      vertical-align: middle;
      width: 0;
    }
  }


  // NAV MAIN
  // ----------------
  .nav-main ul li a {
    @include border-bottom-right-radius(10px);
    @include border-top-left-radius(10px);
  }


  // Audience dropdown
  // --------------------------------------
  #set-view-location {
    @include gradient-vertical(lighten($brand, 15%), $brand);
  }


  // Dashboard
  // --------------------------------------
  .dashboard {

    .display {
      padding-left: 79px;
      position: relative;

      legend {
        color: $brand;
        font-size: inherit;
      }
      p {
        margin-bottom: 10px;
      }
    }
    .title {
      font-size: 24px;
      line-height: 64px;

      [class^="icon-"],
      [class*=" icon-"] {
        background-image: url("images/bridge/dashboard.png");
        height: 64px;
        left: 0;
        line-height: 64px;
        margin-top: 0;
        position: absolute;
        top: 0;
        width: 64px;
      }
    }
    .icon-claims {
      background-position: 0 0;
    }
    .icon-messages {
      background-position: 0 -100px;
    }
    .icon-premium {
      background-position: 0 -200px;
    }
    .icon-statements {
      background-position: 0 -300px;
    }
    .icon-benefits {
      background-position: 0 -400px;
    }
    .icon-account {
      background-position: 0 -500px;
    }
  }
}



//
// RESPONSIVE
// --------------------------------------


//
// Custom: Large desktop and up
// --------------------------------------------------
@media (min-width: 1200px) {

  .bridge {
    @import "shared/responsive/1200px-min";
  }
}


// Responsive: Desktop to large desktop
// --------------------------------------------------
@media (min-width: 980px) and (max-width: 1199px) {

  .bridge {
    @import "shared/responsive/980px-1199px";
  }
}


// Desktops and larger
// --------------------------------------
@media (min-width: 980px) {

  .bridge {
    @import "shared/responsive/980px-min";
  }
}


// Responsive: Tablet to desktop
// --------------------------------------
@media (min-width: 768px) and (max-width: 979px) {

  .bridge {
    @import "shared/responsive/768px-979px";
  }
}


// Responsive: Tablet to large desktops
// --------------------------------------
@media (min-width: 768px) {

  .bridge {
    @import "shared/responsive/768px-min";

    .hero-unit {

      &#individual {
        background-image: url(images/bridge/landings/individual/hero-individual.jpg);
      }
      &#understanding-insurance {
        background-image: url(images/bridge/landings/understanding-insurance/hero-understanding-insurance.jpg);
      }
    }

    #hero-welcome .hero-unit {
      background-image: url(images/bridge/hero-welcome.png);
      @include background-size(cover);
      height: 360px;

      .flush-bottom {
        bottom: -24px;
        font-family: $sansFontFamilyBold;
        font-size: 134px;
        left: 20px;
        letter-spacing: -8px;
        line-height: 1;
        margin: 0;
        position: absolute;
        text-transform: uppercase;
      }
      .form-signIn {
        background-color: $white;
        @include border-bottom-right-radius(10px);
        @include border-top-left-radius(10px);
        font-family: $sansFontFamilyLight;
        padding: 20px 30px;
        margin-top: 20px;
        width: 250px;

        h2 {
          color: $textColor;
          font-family: $sansFontFamilySemibold;
          font-size: 24px;
          margin-bottom: 20px;
        }
        input {
          padding-bottom: 2px;
          padding-top: 2px;
          width: 146px;
        }
        label {
          color: $textColor;
          text-align: left;
          width: 80px;
        }
        p {
          font-size: 14px;
          line-height: 20px;
          margin-bottom: 10px;
        }
        .btn {
          float: right;
          font-family: $sansFontFamilyCond;
          font-size: 16px;
          padding: 5px 16px;
          text-transform: uppercase;
        }
        .control-group {
          margin-bottom: 10px;
        }
        .controls {
          margin-left: 90px;
        }
      }
    }

    #hero-individual {

      .media {
        @include border-bottom-right-radius(10px);
        @include border-top-left-radius(10px);
      }
    }

    #hero-understanding-insurance {

      .media-copay .media-image {
        background-image: url(images/bridge/landings/understanding-insurance/media-copay.png);
      }

      .media-infographic .media-image {
        background-image: url(images/bridge/landings/understanding-insurance/media-infographic.png);
      }

      .media-video .media-image {
        background-image: url(images/bridge/landings/understanding-insurance/media-video.png);
      }
    }
  }
}


// Tablet
// --------------------------------------
@media (max-width: 767px) {

  .bridge {
    @import "shared/responsive/767px-max";
  }
}


//
// MODERNIZR
// --------------------------------------


// Font face
// -------------------------
.fontface .bridge { // If web fonts are supported

  @import "shared/modernizr/font_face";
}

// Generated content
// -------------------------
.generatedcontent .bridge {

  @import "shared/modernizr/generated_content";
}
