/*------------------------------------*\
    $BRIDGESPAN
    $COLOR_SCHEME
\*------------------------------------*/

// Variables
@import "variables/bridge"; // Load bridgespan colors and styles


// --------------------------------------
// Bridgespan only theme styles
// --------------------------------------

.bridge {
  color: $textColor;


  // Import theme styles
  // --------------------------------------
  @import "shared/general";
  @import "shared/navigation";
  @import "shared/article";
  @import "shared/hero";
  @import "shared/location";


  // Bridge only styles
  // --------------------------------------

  // Theme utilities
  // --------------------------------------
  .asuris-only,
  .regence-only {
    display: none;
  }


  // Headings
  // --------------------------------------
  h1,
  h2,
  h3 {
    font-family: $sansFontFamilyBold;
  }
  

  // Headers
  // -------------------------
  .page-header,
  .section-header {

     h1, h2, h3, h4, h5, h6 {
      margin: 0;
    }
  }
  .page-header {
    border-bottom: 2px solid $textColor;
    margin: 0 0 30px;
  }
  .section-header {
    background: #EAEFF1;
    border-top: 1px solid #E0E3E4;
    margin: $baseLineHeight 0 ($baseLineHeight * 1.5);
    padding: $baseLineHeight/2 15px;

    h1, h2, h3, h4, h5, h6 {
      color: $orange;
    }
  }


  // Caret
  // --------------------------------------
  .bridge-caret {
    border: 5px solid $accent;
    @include border-radius(20px);
    display: inline-block;
    height: 0;
    padding: 11px;
    vertical-align: top;
    width: 0;

    &:after {
      border-bottom: 8px solid transparent;
      border-left: 8px solid $grayLight;
      border-top: 8px solid transparent;
      content: "";
      display: block;
      height: 0;
      margin-left: -2px;
      margin-top: -7px;
      vertical-align: middle;
      width: 0;
    }
  }


  // NAV MAIN
  // ----------------
  .nav-main {

    ul {

      li {

        a {
          border: 1px solid $accent;
          @include border-bottom-right-radius(10px);
          @include border-top-left-radius(10px);
          font-family: $sansFontFamily;
          font-size: 16px;
        }
      }
    }
  }


  // Articles
  // --------------------------------------
  .article-landing {

    h3 {
      font-size: 28px;
      line-height: 34px;
    }
    li {
      font-size: 20px;
      line-height: 1;
      margin-bottom: 10px;
    }
    .nav > li {
      font-size: 24px;
      line-height: 30px;
      margin-bottom: 20px;

      > a {
        color: $textColor;

        &:hover {
          background-color: $white;

          .bridge-caret {
            border-color: $brand;
          }
        }
      }
    }
  }


  // Article sidebar
  // --------------------------------------
  article .sidebar {

    h3 {
      color: $grayLight;
      font: 20px/1 $sansFontFamilyLight;
    }
  }


  // Article left sidebar
  // --------------------------------------
  .article-left-sidebar .sidebar {

    .nav > li > a {
      border-top: 1px solid $grayLighter;
      font: 20px/1 $sansFontFamilyLight;
      padding: 12px 15px;
    }

    .nav > .active > a,
    .nav > .active > a:hover {
      color: $accent;
    }
  }


  // Audience dropdown
  // -------------------------
  #set-view-location {
    @include gradient-vertical(lighten($brand, 15%), $brand);
  }


  // Dashboard

  .dashboard {

    [class^="icon-"],
    [class*=" icon-"] {
      background-image: url("images/bridge/dashboard.png");
      height: 64px;
      left: 0;
      line-height: 64px;
      margin-top: 0;
      position: absolute;
      top: 0;
      width: 64px;
    }
    .display {
      font-size: 24px;
      line-height: 64px;
      padding-left: 79px;
      position: relative;
    }
    .icon-claims {
      background-position: 0 0;
    }
    .icon-messages {
      background-position: 0 -100px;
    }
    .icon-premium {
      background-position: 0 -200px;
    }
    .icon-statements {
      background-position: 0 -300px;
    }
    .icon-benefits {
      background-position: 0 -400px;
    }
    .icon-account {
      background-position: 0 -500px;
    }
  }
}


// Font face
// -------------------------
.fontface .bridge { // If web fonts are supported

  h1, h2, h3, h4, h5, h6 {
    font-weight: $headingsFontWeight;
  }
}


//
// Custom: Large desktop and up
// --------------------------------------------------
@media (min-width: 1200px) {

  .bridge {
    @import "shared/1200px-min";
  }
}


// Desktops and larger
// --------------------------------------
@media (min-width: 980px) {

  .bridge {
    @import "shared/980px-min";
  }
}


// Responsive: Tablet to large desktops
// --------------------------------------
@media (min-width: 768px) {

  .bridge {
    @import "shared/768px-min";

    .hero-unit {

      &#individual {
        background-image: url(images/bridge/landings/individual/hero-individual.jpg);
      }
      &#understanding-insurance {
        background-image: url(images/bridge/landings/understanding-insurance/hero-understanding-insurance.jpg);
      }
    }

    #hero-welcome .hero-unit {
      background-image: url(images/bridge/hero-welcome.png);
      @include background-size(cover);
      height: 360px;

      .flush-bottom {
        bottom: -24px;
        font-family: $sansFontFamilyBold;
        font-size: 134px;
        left: 20px;
        letter-spacing: -8px;
        position: absolute;
        text-transform: uppercase;
      }
      .form-signIn {
        background-color: $white;
        @include border-bottom-right-radius(10px);
        @include border-top-left-radius(10px);
        font-family: $sansFontFamilyLight;
        padding: 20px 30px;
        margin-top: 20px;
        width: 250px;

        h2 {
          color: $textColor;
          font-family: $sansFontFamilySemibold;
          font-size: 24px;
          margin-bottom: 20px;
        }
        input {
          padding-bottom: 2px;
          padding-top: 2px;
          width: 146px;
        }
        label {
          color: $textColor;
          text-align: left;
          width: 80px;
        }
        p {
          font-size: 14px;
          line-height: 20px;
          margin-bottom: 10px;
        }
        .btn {
          float: right;
          font-family: $sansFontFamilyCond;
          font-size: 16px;
          padding: 5px 16px;
          text-transform: uppercase;
        }
        .control-group {
          margin-bottom: 10px;
        }
        .controls {
          margin-left: 90px;
        }
      }
    }

    #hero-individual {

      .hero-unit {
        height: 405px;
      }

      .media {
        @include border-bottom-right-radius(10px);
        @include border-top-left-radius(10px);
      }

      #media-shop {
        height: 295px;
      }
    }

    #hero-understanding-insurance {

      .hero-unit {
        height: 405px;
      }

      .media-image {
        background-position: center;
      }

      .media-copay .media-image {
        background-image: url(images/bridge/landings/understanding-insurance/media-copay.png);
      }

      .media-infographic .media-image {
        background-image: url(images/bridge/landings/understanding-insurance/media-infographic.png);
      }

      .media-video .media-image {
        background-image: url(images/bridge/landings/understanding-insurance/media-video.png);
      }
    }
  }
}


// Responsive: Tablet to desktop
// --------------------------------------
@media (min-width: 768px) and (max-width: 979px) {

  .bridge {
    @import "shared/768px-979px";
  }
}
