/*------------------------------------*\
    $REGENCE
    $COLOR_SCHEME
\*------------------------------------*/

// Variables
@import "variables/regence"; // Load regence colors and styles


// --------------------------------------
// Regence only theme styles
// --------------------------------------

.regence {
  color: $textColor;


  // Import shared components
  // --------------------------------------
  @import "shared/components/general";
  @import "shared/components/navigation";
  @import "shared/components/article";
  @import "shared/components/hero";


  // Import shared locations
  // --------------------------------------
  @import "shared/locations/top";
  @import "shared/locations/bottom";
  @import "shared/locations/contact";


  // Regence only styles
  // --------------------------------------

  // Theme utilities
  // --------------------------------------
  .asuris-only,
  .bridge-only {
    display: none;
  }


  // Typography
  // --------------------------------------
  h2 {
    color: $orange;
  }


  // Main
  // --------------------------------------
  #main {
    background: $mainBackground;
  }


  // NAV MAIN
  // --------------------------------------
  .nav-main ul li a {
    @include border-radius(5px);
  }


  // Audience dropdown
  // --------------------------------------
  #set-view-location {
    background: #55a8d5;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzU1YThkNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjE1JSIgc3RvcC1jb2xvcj0iIzU1YThkNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzZDhjYjYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #55a8d5 0%, #55a8d5 15%, #3d8cb6 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#55a8d5), color-stop(15%,#55a8d5), color-stop(100%,#3d8cb6));
    background: -webkit-linear-gradient(top,  #55a8d5 0%,#55a8d5 15%,#3d8cb6 100%);
    background: -o-linear-gradient(top,  #55a8d5 0%,#55a8d5 15%,#3d8cb6 100%);
    background: -ms-linear-gradient(top,  #55a8d5 0%,#55a8d5 15%,#3d8cb6 100%);
    background: linear-gradient(to bottom,  #55a8d5 0%,#55a8d5 15%,#3d8cb6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#55a8d5', endColorstr='#3d8cb6',GradientType=0 );
  }
}


//
// RESPONSIVE
// --------------------------------------


// Responsive: Large desktop and up
// --------------------------------------
@media (min-width: 1200px) {

  .regence {
    @import "shared/responsive/1200px-min";
  }
}


// Responsive: Desktop to large desktop
// --------------------------------------------------
@media (min-width: 980px) and (max-width: 1199px) {

  .regence {
    @import "shared/responsive/980px-1199px";
  }
}


// Responsive: Desktops and larger
// --------------------------------------
@media (min-width: 980px) {

  .regence {
    @import "shared/responsive/980px-min";
  }
}


// Responsive: Tablet to large desktops
// --------------------------------------
@media (min-width: 768px) {

  .regence {
    @import "shared/responsive/768px-min";

    .jumbotron {
      -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
      -moz-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
      box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
    }
  }
}


// Responsive: Tablet to desktop
// --------------------------------------
@media (min-width: 768px) and (max-width: 979px) {

  .regence {
    @import "shared/responsive/768px-979px";
  }
}


// Tablet
// --------------------------------------
@media (max-width: 767px) {

  .regence {
    @import "shared/responsive/768px-979px";
  }
}


//
// MODERNIZR
// --------------------------------------


// Font face
// -------------------------
.fontface .regence { // If web fonts are supported

  @import "shared/modernizr/font_face";
}

// Generated content
// -------------------------
.generatedcontent .regence {

  @import "shared/modernizr/generated_content";
}
