/*------------------------------------*\
    $THEME
    $RESPONSIVE
    $768px-979px
\*------------------------------------*/


// Article
// ------------
.article-left-sidebar {

  .sidebar .nav > li > a {
    font-size: 16px;
    line-height: 18px;
  }
}


// Hero units
// ------------
.hero-media {

  .media-heading {
    font-size: 18px;
    line-height: 24px;
  }
}
