/*------------------------------------*\
    $THEME
    $RESPONSIVE
    $1200px-min
\*------------------------------------*/


// Hero with image background
// -------------------------------
.hero-image {

  .image {
    min-height: 600px;
  }

  .caption-title {
    margin-bottom: 10px;
  }
}


// Hero with media boxes
// -------------------------------
.hero-media {

  .media-body,
  .media-header {
    padding: 25px 25px 10px;
  }
}


// Hero home
// ----------------------------/
#hero-home {

  .hero-unit {
    height: 360px;
  }
}


// Hero individual
// -------------------------------
#hero-individual {

  .hero-unit {
    height: 500px;
  }

  .media {
    min-height: 140px;
  }

  #media-shop {
    height: 300px;
  }
}


// Hero employer
// -------------------------------
#hero-employer {

  .hero-unit {
    height: 450px;
  }

  #media-forms {
    height: 280px;
  }
}


// Health Insurance Guide
// -------------------------------
#hero-understanding-insurance {

  .hero-unit,
  .hero-image > .image {
    height: 455px;
  }

  .hero-image .hero-inner {
    bottom: 30px;
  }

  .media {
    height: 200px;
  }

  .media-header {
    height: 45px;
  }

  .media-image {
    background-size: cover;
    height: 120px;
  }

  .search-button {
    height: 65px;
    padding: 0 20px;
  }

  .search-input {
    padding: 10px 18px 11px;
  }
}


// Shop For Insurance
// -------------------------------
.hero-shopping .image {
  min-height: 375px;
}


// MyRegence & MyAsuris
// -------------------------------
.hero-myregence .image {
  min-height: 398px;
}


// Provider Search
// -------------------------------
.hero-find-doctor .image {
  min-height: 398px;
}


// Audience dropdown
// -------------------------------
#set-view-location {

  form {
    margin: 0 15%;
    padding-top: 48px;
  }

  .form-actions {
    padding-right: 43px;
  }
}


// Top
// -------------------------------
#top .container {
  width: 1170px;
}


// Google Map
#map_canvas {
  float: right;
  width: 580px;
}
