/*------------------------------------*\
    $THEME
    $RESPONSIVE
    $768px-979px
\*------------------------------------*/


// Thumbnails
// ---------------------------
.thumbnail-left,
.thumbnail-right {

  .content,
  .image {
    width: 48%;
  }
}


// NAV MAIN
// ---------------------------
.nav-main {

  li {
    height: 140px;
    width: 20%;
  }

  li > a {
    margin: 0 10px;
    padding: 40px 0 30px;
  }
}


// Hero with image background
// -------------------------------
.hero-image .caption {
  right: 20px;
}


// Hero with media boxes
// -------------------------------
.hero-media {

  .media-body,
  .media-header {
    padding-left: 15px;
    padding-right: 15px;
  }
}


// Hero home
// ----------------------------/
#hero-home {

  .hero-unit {
    height: 360px;
  }
}


// Landing - Individual
// -------------------------------
#hero-individual {

  .hero-unit {
    height: 420px;
  }

  .media {
    min-height: 130px;
  }

  #media-shop {
    height: 340px;
  }
}


// Hero employer
// ----------------------------/
#hero-employer {

  .hero-unit {
    height: 450px;
  }

  #media-forms {
    height: 280px;
  }
}


// Health Insurance Guide
// -------------------------------
#hero-understanding-insurance {

  .hero-unit,
  .hero-image > .image {
    height: 380px;
  }

  .media {
    height: 180px;
  }

  .media-header {
    height: 50px;
  }
}


// Audience dropdown
// -------------------------------
#set-view-location {

  form {
    margin: 0;
    padding-top: 24px;
  }
  
  .form-actions {
    padding-right: 43px;
  }
}
