/*------------------------------------*\
    $THEME
    $RESPONSIVE
    $768px-min
\*------------------------------------*/


// Thumbnails
// ---------------------------
.thumbnail-left {

  .content {
    float: right;
  }

  .image {
    float: left;
    padding-right: $gridGutterWidth;
  }
}
.thumbnail-right {

  .content {
    float: left;
  }

  .image {
    float: right;
    padding-left: $gridGutterWidth;
  }
}


// NAV INFORMATION
// ---------------------------
.nav-information {

  .nav-group {
    float: left;
    width: 19.9999%;
  }
}


// ARTICLES
// --------------------------------------
article {
  background: $articleBackground;
}

.article-left-sidebar {

  .sidebar .nav {
    text-align: right;
  }
}


// Hero with image background
// -------------------------------
.hero-image {
  padding: 0;
  position: relative;

  > .image {
    min-height: 360px;
  }

  .hero-inner {
    bottom: 0;
    left: 20px;
    position: absolute;
    right: 20px;
    z-index: 2;
  }

  .caption {
    background: $white;
    background: rgba(255,255,255,.8);
    bottom: 20px;
    left: 20px;
    margin: 0;
    padding: 35px;
    position: absolute;
    z-index: 2;
  }

  .caption-title {
    color: $orange;
    font-family: $sansFontFamilyLight;
    margin-bottom: 8px;

    small {
      color: $gray;
    }
  }

  .caption-text {
    color: $gray;
    margin-bottom: 0;
  }
}


// Hero image backgrounds
// -------------------------------
.hero-image {

  &#default {
    background-image: url(images/regence/landings/global/hero-global.jpg);
  }
  &#individual {
    background-image: url(images/regence/landings/individual/hero-individual.jpg);
  }
  &#medicare {
    background-image: url(images/regence/landings/global/hero-global.jpg);
  }
  &#employer {
    background-image: url(images/regence/landings/employer/hero-employer.jpg);
  }
  &#producer {
    background-image: url(images/regence/landings/global/hero-global.jpg);
  }
  &#provider {
    background-image: url(images/regence/landings/global/hero-global.jpg);
  }
}


// Hero with media boxes
// -------------------------------
.hero-media {

  .media {
    background-color: $white;
    background-color: rgba(255,255,255,.9);
    @include border-radius(4px);
    @include box-shadow("0 1px 5px rgba(0,0,0,.1)");
    min-height: 130px;
    @include transition(all .2s ease-in-out);

    &:hover {
      background-color: $white;
      @include box-shadow("0 1px 5px rgba(0,0,0,.5)");
    }

    p {
      margin-bottom: 15px;
    }
  }

  .media-image {    
    padding: 15px 0 0 15px;
  }

  .media-body {
    padding: 15px 15px 0;
  }
}


// Hero home
// ----------------------------/
#hero-home {

  .nav-pills {

    li {
      width: 20%;
    }

    li > a {
      background-color: $white;
      @include box-shadow("0 1px 5px rgba(0,0,0,.1)");
      display: block;
      margin: 0 10px;
      padding: 45px 0;
      text-align: center;
      vertical-align: middle;
    }

    .active > a, 
    .active > a:hover {
      background-color: #076DA5;
      @include box-shadow("0 2px 4px rgba(0,0,0,.2) inset, 0 2px 4px rgba(255,255,255,.8)");
    }

    .tab-individual a,
    .tab-medicare a {
      padding: 30px 0;
    }
  }
}


// Health Insurance Guide
// -------------------------------
#hero-understanding-insurance {
  margin-bottom: 100px;

  .hero-image {
    color: $white;

    .hero-inner {
      bottom: 20px;
    }
  }
}


// Top
// --------------------------------------
#top {
  border-bottom: 1px solid $topLinkBorder;

  .container {
    border-bottom: none;
  }

  .nav .nav-brand .brand {
    border-left: none;
    padding-left: 0;
  }

  .nav .nav-search {
    width: auto;

    form {
      border-top: none;
    }
  }
  
  .nav .nav-shopping {
    clear: none;
    float: right;
    width: auto;

    > a {
      border-left: none;
      border-top: none;
      padding-left: 60px;
      padding-right: 45px;
    }
  }
}


// Bottom
// --------------------------------------
#bottom p {
  text-align: left;
}
  
#bottom ul {
  text-align: right;
}


// Contact Us
// ----------

// Google Map
#map_sidebar {
  float: left;
}

#map_canvas {
  float: right;
}
