/*------------------------------------*\
    $THEME
    $RESPONSIVE
    $768px-979px
\*------------------------------------*/


// Thumbnails
// ---------------------------
.thumbnail-left,
.thumbnail-right {

  .content,
  .image {
    width: 48%;
  }
}


// NAV NETWORK
// ---------------------------
.nav-network {

  li {
    height: 140px;
    width: 20%;
  }

  li > a {
    font-size: 16px;
    line-height: 25px;
    margin: 0 10px;
    padding: 40px 0 30px;
  }
}


// Hero with image background
// -------------------------------
.hero-image {

  .caption-title {
    font-size: 36px;
    line-height: 30px;

    small {
      font-size: 24px;
    }
  }

  .caption-text {
    font-size: 14px;
    line-height: 20px;
  }
}


// Hero with media boxes
// -------------------------------
.hero-media {

  .media {

    p,
    li {
      font-size: 12px;
      line-height: 14px;
    }

    .lead {
      font-size: 14px;
      line-height: 16px;
    }
  }

  .media-heading {
    font-size: 18px;
    line-height: 24px;

    small {
      font-size: 16px;
    }
  }

  .media-body,
  .media-header {
    padding-left: 15px;
    padding-right: 15px;
  }
}


// Landing - Individual
// -------------------------------
#hero-individual {

  .hero-unit {
    height: 420px;
  }

  .media {
    min-height: 160px;
  }

  #media-shop {
    height: 340px;
  }
}


// Health Insurance Guide
// -------------------------------
#hero-understanding-insurance {

  .hero-unit,
  .hero-image > .image {
    height: 380px;
  }

  .media {
    height: 180px;
  }

  .media-header {
    height: 50px;
  }
}


// Audience dropdown
// -------------------------------
#set-view-location {

  form {
    margin: 0;
    padding-top: 24px;
  }
  label {
    font-size: 18px;
    line-height: 28px;
  }
  .form-actions {
    padding-right: 43px;
  }
}
