//
// Variables
// --------------------------------------------------


// ASURIS COLORS
// --------------------------------------------------

// Brand colors
// -------------------------
$brand:                 #1E9442;
$brandDarker:           darken($brand, 25%);
$accent:                #85B365;
$accentDark:            darken($accent, 15%);
$accentDarker:          darken($accent, 30%);
$accentDarkest:         darken($accent, 40%);
$accentLight:           lighten($accent, 15%);
$accentLighter:         lighten($accent, 30%);
$accentLightest:        lighten($accent, 40%);
$altHeadingColor:       #8599a8;

// Base
// -------------------------
$bodyBackground:        $white;
$textColor:             $grayDark;
$mainBackground:        $white;

// Links
// -------------------------
$linkColor:             $blue;
$linkColorHover:        $red;
$placeholderText:       $gray;


// COMPONENTS
// --------------------------------------------------

// Section header
// -------------------------
$sectionHeaderBackground:       #EAEFF1;
$sectionHeaderBorderTop:        1px solid #E0E3E4;
$sectionHeaderHeadingColor:     $orange;


// Article
// -------------------------
$articleBackground:					$white;
$articleBorder:						lighten($accentLighter, 8%);
$articleContentPadding: 			0 20px;

$asideBackground:					#F7FAFB;
$asideHeadingBackground:			#F0F6F9;
$asideHeadingBorder:                #d7d7d7;
$asideHeadingColor:                 $grayLight;
$asideLinkColor:                    $grayLight;
$asideLinkColorHover:               $linkColor;


// Lists
// -------------------------
$bulletBackground:                  lighten($orange, 12%);
$listIndent:                        $baseLineHeight;


// Personalization Widget
// -------------------------
$personalizeBackground:         	#8FCCE7;
$personalizeBackgroundBottom:   	darken($personalizeBackground, 8%);
$personalizeInput:              	#4D9EC0;
$personalizeInputHover:         	darken($personalizeInput,4%);
$personalizeInputActive:        	darken($personalizeInput,8%);


// Navbar
// -------------------------
$navbarBackgroundHighlight:       #ffffff;
$navbarBackground:                darken($navbarBackgroundHighlight, 5%);
$navbarBorder:                    darken($navbarBackground, 12%);
$navbarText:                      $grayDark;
$navbarLinkColor:                 $grayDark;
$navbarLinkColorHover:            $black;
$navbarLinkColorActive:           $grayDarker;
$navbarLinkBackgroundHover:       transparent;
$navbarLinkBackgroundActive:      darken($navbarBackground, 5%);
$navbarBrandColor:                $navbarLinkColor;


// Inverted navbar
// -------------------------
$navbarInverseBackground:                darken($brand, 6%);
$navbarInverseBackgroundHighlight:       $brand;
$navbarInverseBorder:                    $navbarInverseBackground;
$navbarInverseText:                      $white;
$navbarInverseLinkColor:                 $navbarInverseText;
$navbarInverseLinkColorHover:            $white;
$navbarInverseLinkColorActive:           $navbarInverseLinkColorHover;
$navbarInverseLinkBackgroundHover:       $navbarInverseBackground;
$navbarInverseLinkBackgroundActive:      darken($navbarInverseBackground, 6%);
$navbarInverseSearchBackground:          lighten($navbarInverseBackground, 25%);
$navbarInverseSearchBackgroundFocus:     $white;
$navbarInverseSearchBorder:              $navbarInverseBackground;
$navbarInverseSearchPlaceholderColor:    #ccc;
$navbarInverseBrandColor:                $navbarInverseLinkColor;


// Nav Inverted
// -------------------------
$navInvertedText:               $white;
$navInvertedLinkColor:          $white;
$navInvertedLinkColorHover:     lighten($orange, 40%);
$navInvertedLinkColorActive:    lighten($orange, 20%);


// Nav - Breadcrumb
// -------------------------
$breadcrumbBackground:          transparent;
$breadcrumbDividerColor:        $gray;


// Nav - Main
// -------------------------
$navMainLinkBackground:         $white;
$navMainLinkBackgroundHover:    $white;
$navMainLinkBorder:				1px solid $accent;
$navMainLinkColor: 				$linkColor;
$navMainLinkHoverColor: 		$linkColorHover;


// Nav - Information
// -------------------------
$navInformationBackground:        #DDE9EF;
$navInformationBottomBackground:  lighten($navInformationBackground, 10%);
$navInformationTitleColor:        darken($accent, 5%);
$navInformationLink:              darken($accent, 25%);
$navInformationLinkHover:         darken($accent, 15%);
$navInformationBorder:            darken($navInformationBackground, 10%);


// Tabs
// -------------------------
$tabBackgroundColor: 				#FFF;
$tabActiveBackgroundColor: 			#F7FAFB;
$tabActiveBorderColor: 				#CCC #CCC transparent;


// LOCATIONS
// --------------------------------------------------


// Top
// -------------------------
$topBackground:                 $white;
$topText:                       $gray;
$topLinkColor:                  $gray;
$topLinkColorHover:             $white;
$topLinkBackground:             #AFE1F7;
$topLinkBorder:                 $grayLighter;
$audienceGlyphColor:            $brand;
$audienceCaretColor:            $brand;


// Contact
// -------------------------
$contactInfoBackground:         #F5F5F5;
$contactInfoBorderTop:          1px solid darken($contactInfoBackground, 7%);
$contactInfoLink:               $textColor;
$contactInfoLinkHover:          $textColor;
$contactPhoneBackground:        #66A131;
$contactEmailBackground:        $purple;


// Bottom
// -------------------------
$bottomBackground:              $accent;
$bottomColor:                   $textColor;
$bottomLinkBackground:          transparent;
$bottomLinkBackgroundHover:     transparent;
$bottomLinkColor:               $textColor;
$bottomLinkColorHover:          $textColor;
