//
// Variables
// --------------------------------------------------


// Brand colors
// -------------------------
$brand:                         #008693; // teal
$brandDarker:                   darken($brand, 25%);
$accent:                        #F26C2A; // orange
$accentDark:                    darken($accent, 15%);
$accentDarker:                  darken($accent, 30%);
$accentDarkest:                 darken($accent, 40%);
$accentLight:                   lighten($accent, 15%);
$accentLighter:                 lighten($accent, 30%);
$accentLightest:                lighten($accent, 41%);
$altHeadingColor:               #6e6e6e; // gray


// Web fonts
// -------------------------
$sansFontFamily:                "NewsGothicBT-Reg", Verdana, sans-serif;
$sansFontFamilyIt:              "NewsGothicBT-It", Verdana, sans-serif;
$sansFontFamilyLight:           "NewsGothicLtBT-Reg", Verdana, sans-serif;
$sansFontFamilyLightIt:         "NewsGothicLtBT-It", Verdana, sans-serif;
$sansFontFamilySemibold:        "NewsGothicDmBT-Reg", "Arial Black", sans-serif;
$sansFontFamilySemiboldIt:      "NewsGothicDmBT-It", "Arial Black", sans-serif;
$sansFontFamilyBold:            "NewsGothicBdBT-Reg", "Arial Black", Verdana, sans-serif;
$sansFontFamilyBoldIt:          "NewsGothicBdBT-It", "Arial Black", sans-serif;
$sansFontFamilyCond:            "NewsGothicCnBT-Reg", Verdana, sans-serif;
$sansFontFamilyCondIt:          "NewsGothicCnBT-It", Verdana, sans-serif;
$sansFontFamilyBoldCond:        "NewsGothicBdCnBT-Reg", Verdana, sans-serif;
$sansFontFamilyBoldCondIt:      "NewsGothicBdCnBT-It", Verdana, sans-serif;

$serifFontFamily:               "KeplerStd-It", Georgia, "Times New Roman", Times, serif;
$serifFontFamilyIt:             "KeplerStd-ItCapt", Georgia, "Times New Roman", Times, serif;
$monoFontFamily:                Monaco, Menlo, Consolas, "Courier New", monospace;
$scriptFontFamily:              'NinaWebMedium', 'Chalkboard', 'ChalkboardSE-Regular', cursive;
$scriptFontFamilyBold:          'NinaWeb-Bold', 'Chalkboard', 'ChalkboardSE-Regular', cursive;

$baseFontSize:                  14px;
$baseFontFamily:                Verdana, sans-serif;
$baseLineHeight:                20px;
$altFontFamily:                 $serifFontFamily;

$headingsFontFamily:            inherit; // empty to use BS default, $baseFontFamily
$headingsFontFamilyAlt:         $sansFontFamilyLight;
$headingsFontWeight:            normal;    // instead of browser default, bold
$headingsColor:                 inherit; // empty to use BS default, $textColor


// Scaffolding
// -------------------------
$bodyBackground:        $white;
$textColor:             #4c4d4f;
$mainBackground:        $white;


// Component sizing
// -------------------------
// Based on 14px font-size and 20px line-height

$fontSizeLarge:         $baseFontSize * 1.25; // ~18px
$fontSizeSmall:         $baseFontSize * 0.85; // ~12px
$fontSizeMini:          $baseFontSize * 0.75; // ~11px

$paddingLarge:          11px 19px; // 44px
$paddingSmall:          2px 10px;  // 26px
$paddingMini:           0 6px;   // 22px

$baseBorderRadius:      0;
$borderRadiusLarge:     6px;
$borderRadiusSmall:     3px;


// Forms
// -------------------------
$inputBorderRadius:             $baseBorderRadius;
$inputColor:                    #555555;
$inputHeight:                   $baseLineHeight + 10px; // base line-height + 8px vertical padding + 2px top/bottom border
$inputFontSize:                 14px;
$inputPadding:                  4px 6px;

// Links
// -------------------------
$linkColor:             $brand;
$linkColorHover:        $accent;


// Buttons
// -------------------------
$btnBackground:                     $white;
$btnBackgroundHighlight:            darken($white, 10%);
$btnBorder:                         #bbb;
$btnColor:                          $textColor;

$btnPrimaryBackground:              $linkColor;
$btnPrimaryBackgroundHighlight:     adjust-hue($btnPrimaryBackground, 20%);

$btnInfoBackground:                 #5bc0de;
$btnInfoBackgroundHighlight:        #2f96b4;

$btnSuccessBackground:              #62c462;
$btnSuccessBackgroundHighlight:     #51a351;

$btnWarningBackground:              lighten($orange, 15%);
$btnWarningBackgroundHighlight:     $orange;

$btnDangerBackground:               #ee5f5b;
$btnDangerBackgroundHighlight:      #bd362f;

$btnInverseBackground:              #444;
$btnInverseBackgroundHighlight:     $grayDarker;


// Alerts
// -------------------------
$alertBorder:                       none;
$alert404Background:                transparent url("images/regence/large-warning.png") no-repeat 0 12px;
$alert404Color:                     #999;
$alert404FontSize:                  24px;
$alert404HeadingColor:              #d06a21;
$alert404HeadingSize:               36px;


// Tables
// -------------------------
$tableBackground:                   transparent; // overall background-color
$tableBackgroundAccent:             #f9f9f9; // for striping
$tableBackgroundHover:              #f5f5f5; // for hover
$tableBorder:                       #ddd; // table and cell border


// Forms
// -------------------------
$inputBackground:               $white;
$inputBorder:                   #ccc;
$inputDisabledBackground:       $grayLighter;
$formActionsBackground:         #f5f5f5;


// Dropdowns
// -------------------------
$dropdownBackground:            $white;
$dropdownBorder:                rgba(0,0,0,.2);
$dropdownDividerTop:            #e5e5e5;
$dropdownDividerBottom:         $white;
$dropdownLinkColor:             $grayDark;
$dropdownLinkColorHover:        $white;
$dropdownLinkColorActive:       $white;
$dropdownLinkBackgroundActive:  $linkColor;
$dropdownLinkBackgroundHover:   $dropdownLinkBackgroundActive;


// Headers
// -------------------------

// Page header
$pageHeaderBorderBottom:        2px solid $textColor;
$pageHeaderMargin:              0 0 30px;

// Section header
$sectionHeaderBackground:       #EAEFF1;
$sectionHeaderBorderTop:        1px solid #E0E3E4;
$sectionHeaderHeadingColor:     $orange;


// Article
// -------------------------
$articleBackground:             lighten($accent, 38%);
$articleBackgroundBottom:       lighten($articleBackground, 8%);
$contentBorder:                 lighten($accentLighter, 8%);
$asideHeadingBackground:        #F0F6F9;
$asideHeadingBorder:            #E5EFF5;
$asideHeadingColor:             #7D99A8;
$bulletBackground:              $orange;
$blockquoteBackground:          $accentLightest;
$blockquoteBorder:              $accentLighter;


// Lists
// -------------------------
$bulletBackground:                  lighten($orange, 12%);
$listIndent:                        $baseLineHeight;


// Personalization Widget
// -------------------------
$personalizeBackground:         #8FCCE7;
$personalizeBackgroundBottom:   darken($personalizeBackground, 8%);
$personalizeInput:              #4D9EC0;
$personalizeInputHover:         darken($personalizeInput,4%);
$personalizeInputActive:        darken($personalizeInput,8%);


// Navbar
// -------------------------
$navbarCollapseWidth:             979px;
$navbarCollapseDesktopWidth:      $navbarCollapseWidth + 1;

$navbarHeight:                    40px;
$navbarBackgroundHighlight:       #ffffff;
$navbarBackground:                darken($navbarBackgroundHighlight, 5%);
$navbarBorder:                    darken($navbarBackground, 12%);

$navbarText:                      $grayDark;
$navbarLinkColor:                 $grayDark;
$navbarLinkColorHover:            $black;
$navbarLinkColorActive:           $grayDarker;
$navbarLinkBackgroundHover:       transparent;
$navbarLinkBackgroundActive:      darken($navbarBackground, 5%);

$navbarBrandColor:                $navbarLinkColor;


// Inverted navbar
// -------------------------
$navbarInverseBackground:                darken($gray, 6%);
$navbarInverseBackgroundHighlight:       $gray;
$navbarInverseBorder:                    $navbarInverseBackground;

$navbarInverseText:                      $white;
$navbarInverseLinkColor:                 $navbarInverseText;
$navbarInverseLinkColorHover:            $white;
$navbarInverseLinkColorActive:           $navbarInverseLinkColorHover;
$navbarInverseLinkBackgroundHover:       $navbarInverseBackground;
$navbarInverseLinkBackgroundActive:      darken($navbarInverseBackground, 6%);

$navbarInverseSearchBackground:          lighten($navbarInverseBackground, 25%);
$navbarInverseSearchBackgroundFocus:     $white;
$navbarInverseSearchBorder:              $navbarInverseBackground;
$navbarInverseSearchPlaceholderColor:    #ccc;

$navbarInverseBrandColor:                $navbarInverseLinkColor;


// Nav Inverted
// -------------------------
$navInvertedText:               $white;
$navInvertedLinkColor:          $white;
$navInvertedLinkColorHover:     lighten($orange, 40%);
$navInvertedLinkColorActive:    lighten($orange, 20%);


// Nav - Main
// -------------------------
$navMainLinkBackground:         $white;
$navMainLinkBackgroundHover:    $white;
$navMainLinkHeight:             80px;
$navMainLinkMargin:             0 10px;


// Nav - Secondary
// -------------------------
$navSecondaryBackground:        #DDE9EF;
$navSecondaryBottomBackground:  lighten($navSecondaryBackground, 10%);
$navSecondaryTitleColor:        darken($accent, 5%);
$navSecondaryLink:              darken($accent, 25%);
$navSecondaryLinkHover:         darken($accent, 15%);
$navSecondaryhrBorder:          darken($navSecondaryBackground, 10%);


// Nav - Breadcrumb
// -------------------------
$breadcrumbBackground:          transparent;
$breadcrumbMargin:              10px 0 20px;
$breadcrumbPadding:             0;
$breadcrumbDividerColor:        $gray;


// Top
// -------------------------
$topBackground:                 $white;
$topHeight:                     80px;
$topText:                       $gray;
$topLinkColor:                  $gray;
$topLinkColorHover:             $white;
$topLinkBackground:             $grayLighter;
$topLinkBorder:                 $grayLighter;
$audienceGlyphColor:            $accent;
$audienceCaretColor:            $brand;


// Hero unit
// -------------------------
$heroUnitBackground:              $grayLighter;
$heroUnitHeadingColor:            inherit;
$heroUnitLeadColor:               inherit;


// Contact
// -------------------------
$contactInfoBackground:         $wellBackground;
$contactInfoLink:               $textColor;
$contactInfoLinkHover:          $textColor;
$contactPhoneBackground:        #66A131;
$contactEmailBackground:        $purple;


// Bottom
// -------------------------
$bottomBackground:              $accent url(images/bridge/footerBackground.png);
$bottomColor:                   $white;
$bottomFontSize:                16px;
$bottomLineHeight:              18px;
$bottomLinkBackground:          transparent;
$bottomLinkBackgroundHover:     transparent;
$bottomLinkColor:               $white;
$bottomLinkColorHover:          $white;

$feedbackIconMarginTop:         5px;
