//
// Variables
// --------------------------------------------------


// BRIDGE COLORS
// --------------------------------------------------

// Brand colors
// -------------------------
$brand:                 #008693; // teal
$brandDarker:           darken($brand, 25%);
$accent:                #F26C2A; // orange
$accentDark:            darken($accent, 15%);
$accentDarker:          darken($accent, 30%);
$accentDarkest:         darken($accent, 40%);
$accentLight:           lighten($accent, 15%);
$accentLighter:         lighten($accent, 30%);
$accentLightest:        lighten($accent, 41%);
$altHeadingColor:       #6e6e6e; // gray

// Base
// -------------------------
$bodyBackground:        $white;
$textColor:             #4c4d4f;
$mainBackground:        $white;

// Links
// -------------------------
$linkColor:             $brand;
$linkColorHover:        $accent;
$placeholderText:       $grayLight;


// TYPOGRAPHY
// --------------------------------------------------

// Brand fonts
// -------------------------
$sansFontFamily:                "NewsGothicBT-Reg", Verdana, sans-serif;
$sansFontFamilyIt:              "NewsGothicBT-It", Verdana, sans-serif;
$sansFontFamilyLight:           "NewsGothicLtBT-Reg", Verdana, sans-serif;
$sansFontFamilyLightIt:         "NewsGothicLtBT-It", Verdana, sans-serif;
$sansFontFamilySemibold:        "NewsGothicDmBT-Reg", "Arial Black", sans-serif;
$sansFontFamilySemiboldIt:      "NewsGothicDmBT-It", "Arial Black", sans-serif;
$sansFontFamilyBold:            "NewsGothicBdBT-Reg", "Arial Black", Verdana, sans-serif;
$sansFontFamilyBoldIt:          "NewsGothicBdBT-It", "Arial Black", sans-serif;
$sansFontFamilyCond:            "NewsGothicCnBT-Reg", Verdana, sans-serif;
$sansFontFamilyCondIt:          "NewsGothicCnBT-It", Verdana, sans-serif;
$sansFontFamilyBoldCond:        "NewsGothicBdCnBT-Reg", Verdana, sans-serif;
$sansFontFamilyBoldCondIt:      "NewsGothicBdCnBT-It", Verdana, sans-serif;

// Alt fonts
// -------------------------
$serifFontFamily:               "KeplerStd-It", Georgia, "Times New Roman", Times, serif;
$serifFontFamilyIt:             "KeplerStd-ItCapt", Georgia, "Times New Roman", Times, serif;
$monoFontFamily:                Monaco, Menlo, Consolas, "Courier New", monospace;
$scriptFontFamily:              'NinaWebMedium', 'Chalkboard', 'ChalkboardSE-Regular', cursive;
$scriptFontFamilyBold:          'NinaWeb-Bold', 'Chalkboard', 'ChalkboardSE-Regular', cursive;

// Base typography
// -------------------------
$weight:                        normal;
$font-base:                     14;
$baseFontSize:                  14px;
$baseFontFamily:                $sansFontFamily;
$baseLineHeight:                20px;
$altFontFamily:                 $serifFontFamily;
$serif-boolean:                 true !default;


// Icons
// -------------------------
$bridgeIcons:            url(images/bridge/bridge-icons.png);


// Border radius
// -------------------------
$baseBorderRadius:      0;
$borderRadiusLarge:     6px;
$borderRadiusSmall:     3px;



// COMPONENTS
// --------------------------------------------------


// Forms
// -------------------------
$inputBorderRadius:             $baseBorderRadius;
$inputPadding:                  4px 6px;


// Section header
// -------------------------
$sectionHeaderBackground:       #EAEFF1;
$sectionHeaderBorderTop:        1px solid #E0E3E4;
$sectionHeaderHeadingColor:     $orange;


// Article
// -------------------------
$articleBackground:                 $white;
$articleBorder:                     lighten($accentLighter, 8%);

$asideHeadingBorder:                #d7d7d7;
$asideHeadingColor:                 $textColor;
$asideHeadingFontFamily: 			$sansFontFamily;
$asideLinkColor:                    $linkColor;
$asideLinkColorHover:               $linkColor;


// Lists
// -------------------------
$bulletBackground:                  lighten($orange, 12%);
$listIndent:                        $baseLineHeight;


// Personalization Widget
// -------------------------
$personalizeBackground:         #8FCCE7;
$personalizeBackgroundBottom:   darken($personalizeBackground, 8%);
$personalizeInput:              #4D9EC0;
$personalizeInputHover:         darken($personalizeInput,4%);
$personalizeInputActive:        darken($personalizeInput,8%);


// Navbar
// -------------------------
$navbarBackgroundHighlight:       #ffffff;
$navbarBackground:                darken($navbarBackgroundHighlight, 5%);
$navbarBorder:                    darken($navbarBackground, 12%);

$navbarText:                      $grayDark;
$navbarLinkColor:                 $grayDark;
$navbarLinkColorHover:            $black;
$navbarLinkColorActive:           $grayDarker;
$navbarLinkBackgroundHover:       transparent;
$navbarLinkBackgroundActive:      darken($navbarBackground, 5%);

$navbarBrandColor:                $navbarLinkColor;


// Inverted navbar
// -------------------------
$navbarInverseBackground:                darken($gray, 6%);
$navbarInverseBackgroundHighlight:       $gray;
$navbarInverseBorder:                    $navbarInverseBackground;

$navbarInverseText:                      $white;
$navbarInverseLinkColor:                 $navbarInverseText;
$navbarInverseLinkColorHover:            $white;
$navbarInverseLinkColorActive:           $navbarInverseLinkColorHover;
$navbarInverseLinkBackgroundHover:       $navbarInverseBackground;
$navbarInverseLinkBackgroundActive:      darken($navbarInverseBackground, 6%);

$navbarInverseSearchBackground:          lighten($navbarInverseBackground, 25%);
$navbarInverseSearchBackgroundFocus:     $white;
$navbarInverseSearchBorder:              $navbarInverseBackground;
$navbarInverseSearchPlaceholderColor:    #ccc;

$navbarInverseBrandColor:                $navbarInverseLinkColor;


// Nav Inverted
// -------------------------
$navInvertedText:               $white;
$navInvertedLinkColor:          $white;
$navInvertedLinkColorHover:     lighten($orange, 40%);
$navInvertedLinkColorActive:    lighten($orange, 20%);


// Nav - Breadcrumb
// -------------------------
$breadcrumbBackground:          transparent;
$breadcrumbFontSize: 			.85rem;
$breadcrumbMargin:              10px 0 40px;
$breadcrumbPadding:             8px 0;
$breadcrumbDividerColor:        $gray;


// Nav - Main
// -------------------------
$navMainLinkBackground:         $white;
$navMainLinkBackgroundHover:    $white;
$navMainLinkBorder:				2px solid $accent;
$navMainLinkColor: 				$textColor;
$navMainLinkHoverColor: 		$linkColorHover;
$navMainLinkFontFamily: 		$sansFontFamilyBold;
$navMainLinkFontSize: 			1em;
$navMainLinkHeight:             80px;
$navMainLinkMargin:             0 10px;


// Tabs
// -------------------------
$tabBackgroundColor: 				#FFF;
$tabActiveBackgroundColor: 			#F7FAFB;
$tabActiveBorderColor: 				#CCC #CCC transparent;


// LOCATIONS
// --------------------------------------------------


// Top
// -------------------------
$topBackground:                 $white;
$topHeight:                     80px;
$topText:                       $gray;
$topLinkColor:                  $gray;
$topLinkColorHover:             $white;
$topLinkBackground:             $grayLighter;
$topLinkBorder:                 $grayLighter;
$audienceGlyphColor:            $accent;
$audienceCaretColor:            $brand;


// Bottom
// -------------------------
$bottomBackground:              $accent url(images/bridge/footerBackground.png);
$bottomColor:                   $white;
$bottomFontSize:                12px;
$bottomLineHeight:              18px;
$bottomLinkBackground:          transparent;
$bottomLinkBackgroundHover:     transparent;
$bottomLinkColor:               $white;
$bottomLinkColorHover:          $white;

$feedbackIconMarginTop:         5px;


// Contact
// -------------------------
$contactInfoBackground:         none;
$contactInfoBorderTop:          none;
$contactInfoLink:               $textColor;
$contactInfoLinkHover:          $textColor;
$contactPhoneBackground:        $white;
$contactEmailBackground:        $white;
