//
// Variables
// --------------------------------------------------


// REGENCE COLORS
// --------------------------------------------------

// Brand colors
// -------------------------
$brand:                 #0881C2;
$brandDarker:           darken($brand, 25%);
$accent:                #599ABD;
$accentDark:            darken($accent, 15%);
$accentDarker:          darken($accent, 30%);
$accentDarkest:         darken($accent, 40%);
$accentLight:           lighten($accent, 15%);
$accentLighter:         lighten($accent, 30%);
$accentLightest:        lighten($accent, 41%);
$altHeadingColor:       #8599a8;

// Base
// -------------------------
$bodyBackground:        $white;
$textColor:             $grayDark;
$mainBackground:        #daeaf2;

// Links
// -------------------------
$linkColor:             $blue;
$linkColorHover:        $red;
$placeholderText:       $gray;


// TYPOGRAPHY - REGENCE AND ASURIS
// --------------------------------------------------

// Brand fonts
// -------------------------
$sansFontFamily:                "ProximaNova-Regular", Verdana, sans-serif;
$sansFontFamilyIt:              "ProximaNova-RegularIt", Verdana, sans-serif;
$sansFontFamilyLight:           "ProximaNova-Light", Verdana, sans-serif;
$sansFontFamilyLightIt:         "ProximaNova-LightIt", Verdana, sans-serif;
$sansFontFamilySemibold:        "ProximaNova-Semibold", "Arial Black", sans-serif;
$sansFontFamilySemiboldIt:      "ProximaNova-SemiboldIt", "Arial Black", sans-serif;
$sansFontFamilyBold:            "ProximaNova-Bold", "Arial Black", Verdana, sans-serif;
$sansFontFamilyBoldIt:          "ProximaNova-BoldIt", "Arial Black", sans-serif;
$sansFontFamilyCond:            "ProximaNovaCond-Regular", Verdana, sans-serif;
$sansFontFamilyCondSemibold:    "ProximaNovaCond-Semibold", Verdana, sans-serif;

// Alt fonts
// -------------------------
$serifFontFamily:               Georgia, "Times New Roman", Times, serif;
$serifFontFamilyIt:             Georgia, "Times New Roman", Times, serif;
$monoFontFamily:                Monaco, Menlo, Consolas, "Courier New", monospace;
$scriptFontFamily:              'NinaWebMedium', 'Chalkboard', 'ChalkboardSE-Regular', cursive;
$scriptFontFamilyBold:          'NinaWeb-Bold', 'Chalkboard', 'ChalkboardSE-Regular', cursive;

// Base typography
// -------------------------
$weight:                        normal;
$baseFontSize:                  13px;
$baseFontFamily:                $sansFontFamily;
$baseLineHeight:                18px;
$altFontFamily:                 $serifFontFamily;
$serif-boolean:                 true !default;


// Icons
// -------------------------
$regenceIcons:            url(images/regence/regence-icons.png);


// COMPONENTS
// --------------------------------------------------

// Border radius
// -------------------------
$baseBorderRadius:      0;
$borderRadiusLarge:     6px;
$borderRadiusSmall:     3px;


// Forms
// -------------------------
$inputBorderRadius:             $baseBorderRadius;
$inputPadding:                  4px 6px;


// Section header
// -------------------------
$sectionHeaderBackground:       #EAEFF1;
$sectionHeaderBorderTop:        1px solid #E0E3E4;
$sectionHeaderHeadingColor:     $orange;


// Article
// -------------------------
$articleBackground:					$white;
$articleBorder:						lighten($accentLighter, 8%);
$articleContentPaddingLeft: 		20px;
$articleContentPaddingRight: 		20px;

$asideBackground:					#F2F8F9;
$asideHeadingBackground:			#F0F6F9;
$asideHeadingBorder:                #D9E6EA;
$asideHeadingColor:                 #5e7b8c;
$asideHeadingFontFamily: 			$sansFontFamily;
$asideLinkColor:                    $grayLight;
$asideLinkColorHover:               $linkColor;

// Lists
// -------------------------
$bulletBackground:                  lighten($orange, 12%);
$listIndent:                        $baseLineHeight;


// Personalization Widget
// -------------------------
$personalizeBackground:         	#8FCCE7;
$personalizeBackgroundBottom:   	darken($personalizeBackground, 8%);
$personalizeInput:              	#4D9EC0;
$personalizeInputHover:         	darken($personalizeInput,4%);
$personalizeInputActive:        	darken($personalizeInput,8%);


// Navbar
// -------------------------
$navbarBackgroundHighlight:       	#ffffff;
$navbarBackground:                	darken($navbarBackgroundHighlight, 5%);
$navbarBorder:                    	darken($navbarBackground, 12%);

$navbarText:                      	$grayDark;
$navbarLinkColor:                 	$grayDark;
$navbarLinkColorHover:            	$black;
$navbarLinkColorActive:           	$grayDarker;
$navbarLinkBackgroundHover:       	transparent;
$navbarLinkBackgroundActive:      	darken($navbarBackground, 5%);

$navbarBrandColor:                	$navbarLinkColor;


// Inverted navbar
// -------------------------
$navbarInverseBackground:                darken($blue, 6%);
$navbarInverseBackgroundHighlight:       $blue;
$navbarInverseBorder:                    $navbarInverseBackground;

$navbarInverseText:                      $white;
$navbarInverseLinkColor:                 $navbarInverseText;
$navbarInverseLinkColorHover:            $white;
$navbarInverseLinkColorActive:           $navbarInverseLinkColorHover;
$navbarInverseLinkBackgroundHover:       $navbarInverseBackground;
$navbarInverseLinkBackgroundActive:      darken($navbarInverseBackground, 6%);

$navbarInverseSearchBackground:          lighten($navbarInverseBackground, 25%);
$navbarInverseSearchBackgroundFocus:     $white;
$navbarInverseSearchBorder:              $navbarInverseBackground;
$navbarInverseSearchPlaceholderColor:    #ccc;

$navbarInverseBrandColor:                $navbarInverseLinkColor;


// Nav - Breadcrumb
// -------------------------
$breadcrumbBackground:          transparent;
$breadcrumbFontSize: 			.85rem;
$breadcrumbMargin:              20px 0 0;
$breadcrumbPadding:             8px 0;
$breadcrumbDividerColor:        $gray;


// Nav Inverted
// -------------------------
$navInvertedText:               $white;
$navInvertedLinkColor:          $white;
$navInvertedLinkColorHover:     lighten($orange, 40%);
$navInvertedLinkColorActive:    lighten($orange, 20%);


// Nav - Main
// -------------------------
$navMainLinkBackground:         $white;
$navMainLinkBackgroundHover:    $white;
$navMainLinkBorder:				1px solid $accent;
$navMainLinkColor: 				$linkColor;
$navMainLinkHoverColor: 		$linkColorHover;
$navMainLinkFontFamily: 		$sansFontFamily;
$navMainLinkFontSize: 			16px;
$navMainLinkHeight:             120px;
$navMainLinkMargin:             0 10px;


// Nav - Information
// -------------------------
$navInformationBackground:        #DDE9EF;
$navInformationBottomBackground:  lighten($navInformationBackground, 10%);
$navInformationTitleColor:        darken($accent, 5%);
$navInformationLink:              darken($accent, 25%);
$navInformationLinkHover:         darken($accent, 15%);
$navInformationBorder:            darken($navInformationBackground, 10%);


// Tabs
// -------------------------
$tabBackgroundColor: 				#FFF;
$tabActiveBackgroundColor: 			#F6F7F8;
$tabActiveBorderColor: 				#CCC #CCC transparent;


// LOCATIONS
// --------------------------------------------------


// Top
// -------------------------
$topBackground:                 $white;
$topHeight:                     80px;
$topText:                       $gray;
$topLinkColor:                  $gray;
$topLinkColorHover:             $white;
$topLinkBackground:             #AFE1F7;
$topLinkBorder:                 $grayLighter;
$audienceGlyphColor:            $brand;
$audienceCaretColor:            $brand;


// Contact
// -------------------------
$contactInfoBackground:         #F5F5F5;
$contactInfoBorderTop:          1px solid darken($contactInfoBackground, 7%);
$contactInfoLink:               $textColor;
$contactInfoLinkHover:          $textColor;
$contactGlyphColor:             $contactInfoBackground;
$contactPhoneBackground:        #66A131;
$contactEmailBackground:        $purple;


// Bottom
// -------------------------
$bottomBackground:              $accent url(images/regence/footerBackground.png);
$bottomColor:                   $white;
$bottomFontSize:                13px;
$bottomLineHeight:              16px;
$bottomLinkBackground:          transparent;
$bottomLinkBackgroundHover:     transparent;
$bottomLinkColor:               $white;
$bottomLinkColorHover:          $white;

$feedbackIconMarginTop:         4px;
