//
// Variables
// --------------------------------------------------


// REGENCE COLORS
// --------------------------------------------------

// Brand colors
// -------------------------
$brand:                 #0881C2;
$brandDarker:           darken($brand, 25%);
$accent:                #599ABD;
$accentDark:            darken($accent, 15%);
$accentDarker:          darken($accent, 30%);
$accentDarkest:         darken($accent, 40%);
$accentLight:           lighten($accent, 15%);
$accentLighter:         lighten($accent, 30%);
$accentLightest:        lighten($accent, 41%);
$altHeadingColor:       #8599a8;

// Base
// -------------------------
$bodyBackground:        $white;
$textColor:             $grayDark;
$mainBackground:        #EFF5F7;

// Links
// -------------------------
$linkColor:             $blue;
$linkColorHover:        $red;
$placeholderText:       $gray;


// TYPOGRAPHY - REGENCE AND ASURIS
// --------------------------------------------------

// Brand fonts
// -------------------------
$sansFontFamily:                "ProximaNova-Regular", Verdana, sans-serif;
$sansFontFamilyIt:              "ProximaNova-RegularIt", Verdana, sans-serif;
$sansFontFamilyLight:           "ProximaNova-Light", Verdana, sans-serif;
$sansFontFamilyLightIt:         "ProximaNova-LightIt", Verdana, sans-serif;
$sansFontFamilySemibold:        "ProximaNova-Semibold", "Arial Black", sans-serif;
$sansFontFamilySemiboldIt:      "ProximaNova-SemiboldIt", "Arial Black", sans-serif;
$sansFontFamilyBold:            "ProximaNova-Bold", "Arial Black", Verdana, sans-serif;
$sansFontFamilyBoldIt:          "ProximaNova-BoldIt", "Arial Black", sans-serif;
$sansFontFamilyCond:            "ProximaNovaCond-Regular", Verdana, sans-serif;
$sansFontFamilyCondSemibold:    "ProximaNovaCond-Semibold", Verdana, sans-serif;

// Alt fonts
// -------------------------
$serifFontFamily:               Georgia, "Times New Roman", Times, serif;
$serifFontFamilyIt:             Georgia, "Times New Roman", Times, serif;
$monoFontFamily:                Monaco, Menlo, Consolas, "Courier New", monospace;
$scriptFontFamily:              'NinaWebMedium', 'Chalkboard', 'ChalkboardSE-Regular', cursive;
$scriptFontFamilyBold:          'NinaWeb-Bold', 'Chalkboard', 'ChalkboardSE-Regular', cursive;

// Base typography
// -------------------------
$weight:                        normal;
$font-base:                     14;
$baseFontSize:                  14px;
$baseFontFamily:                $sansFontFamily;
$baseLineHeight:                20px;
$altFontFamily:                 $serifFontFamily;
$serif-boolean:                 true !default;

// Heading typography
// -------------------------
$headingsFontFamily:            inherit; // empty to use BS default, $baseFontFamily
$headingsFontFamilyAlt:         $sansFontFamilyLight;
$headingsFontWeight:            normal;    // instead of browser default, bold
$headingsColor:                 inherit; // empty to use BS default, $textColor

// TypeScale
// -------------------------
$tera: 72; // 117 = 18 × 6.5
$giga: 60; // 90 = 18 × 5
$mega: 48; // 72 = 18 × 4
$alpha: 36; // 60 = 18 × 3.3333
$beta: 24; // 48 = 18 × 2.6667
$gamma: 21; // 36 = 18 × 2
$delta: 18; // 24 = 18 × 1.3333
$epsilon: 16; // 21 = 18 × 1.1667
$zeta: 14; // 18 = 18 × 1


// COMPONENTS
// --------------------------------------------------

// Border radius
// -------------------------
$baseBorderRadius:      0;
$borderRadiusLarge:     6px;
$borderRadiusSmall:     3px;


// Forms
// -------------------------
$inputBorderRadius:             $baseBorderRadius;
$inputPadding:                  4px 6px;


// Page header
// -------------------------
$pageHeaderBorderBottom:        1px solid $grayLighter;
$pageHeaderMargin:              $baseLineHeight 0 ($baseLineHeight * 1.5);


// Section header
// -------------------------
$sectionHeaderBackground:       #EAEFF1;
$sectionHeaderBorderTop:        1px solid #E0E3E4;
$sectionHeaderHeadingColor:     $orange;


// Article
// -------------------------
$articleBackground:					$white;
$articleBorder:						lighten($accentLighter, 8%);

$asideBackground:					#F7FAFB;
$asideHeadingBackground:			#F0F6F9;
$asideHeadingBorder:                #d7d7d7;
$asideHeadingColor:                 $grayLight;
$asideHeadingFontSize:              20px;
$asideLinkFontSize:                 16px;
$asideLinkColor:                    $grayLight;
$asideLinkColorHover:               $linkColor;

// Lists
// -------------------------
$bulletBackground:                  lighten($orange, 12%);
$listIndent:                        $baseLineHeight;


// Personalization Widget
// -------------------------
$personalizeBackground:         	#8FCCE7;
$personalizeBackgroundBottom:   	darken($personalizeBackground, 8%);
$personalizeInput:              	#4D9EC0;
$personalizeInputHover:         	darken($personalizeInput,4%);
$personalizeInputActive:        	darken($personalizeInput,8%);


// Navbar
// -------------------------
$navbarBackgroundHighlight:       	#ffffff;
$navbarBackground:                	darken($navbarBackgroundHighlight, 5%);
$navbarBorder:                    	darken($navbarBackground, 12%);

$navbarText:                      	$grayDark;
$navbarLinkColor:                 	$grayDark;
$navbarLinkColorHover:            	$black;
$navbarLinkColorActive:           	$grayDarker;
$navbarLinkBackgroundHover:       	transparent;
$navbarLinkBackgroundActive:      	darken($navbarBackground, 5%);

$navbarBrandColor:                	$navbarLinkColor;


// Inverted navbar
// -------------------------
$navbarInverseBackground:                darken($blue, 6%);
$navbarInverseBackgroundHighlight:       $blue;
$navbarInverseBorder:                    $navbarInverseBackground;

$navbarInverseText:                      $white;
$navbarInverseLinkColor:                 $navbarInverseText;
$navbarInverseLinkColorHover:            $white;
$navbarInverseLinkColorActive:           $navbarInverseLinkColorHover;
$navbarInverseLinkBackgroundHover:       $navbarInverseBackground;
$navbarInverseLinkBackgroundActive:      darken($navbarInverseBackground, 6%);

$navbarInverseSearchBackground:          lighten($navbarInverseBackground, 25%);
$navbarInverseSearchBackgroundFocus:     $white;
$navbarInverseSearchBorder:              $navbarInverseBackground;
$navbarInverseSearchPlaceholderColor:    #ccc;

$navbarInverseBrandColor:                $navbarInverseLinkColor;


// Nav Inverted
// -------------------------
$navInvertedText:               $white;
$navInvertedLinkColor:          $white;
$navInvertedLinkColorHover:     lighten($orange, 40%);
$navInvertedLinkColorActive:    lighten($orange, 20%);


// Nav - Main
// -------------------------
$navMainLinkBackground:         $white;
$navMainLinkBackgroundHover:    $white;
$navMainLinkHeight:             120px;
$navMainLinkMargin:             0 10px;


// Nav - Information
// -------------------------
$navInformationBackground:        #DDE9EF;
$navInformationBottomBackground:  lighten($navInformationBackground, 10%);
$navInformationTitleColor:        darken($accent, 5%);
$navInformationLink:              darken($accent, 25%);
$navInformationLinkHover:         darken($accent, 15%);
$navInformationBorder:            darken($navInformationBackground, 10%);


// LOCATIONS
// --------------------------------------------------


// Top
// -------------------------
$topBackground:                 $white;
$topHeight:                     80px;
$topText:                       $gray;
$topLinkColor:                  $gray;
$topLinkColorHover:             $white;
$topLinkBackground:             #AFE1F7;
$topLinkBorder:                 $grayLighter;
$audienceGlyphColor:            $brand;
$audienceCaretColor:            $brand;


// Contact
// -------------------------
$contactInfoBackground:         #F5F5F5;
$contactInfoLink:               $textColor;
$contactInfoLinkHover:          $textColor;
$contactPhoneBackground:        #66A131;
$contactEmailBackground:        $purple;


// Bottom
// -------------------------
$bottomBackground:              $accent url(images/regence/footerBackground.png);
$bottomColor:                   $white;
$bottomFontSize:                13px;
$bottomLineHeight:              16px;
$bottomLinkBackground:          transparent;
$bottomLinkBackgroundHover:     transparent;
$bottomLinkColor:               $white;
$bottomLinkColorHover:          $white;

$feedbackIconMarginTop:         4px;
