/*------------------------------------*\
    $GENERAL
\*------------------------------------*/


// Links
// -------------------------
a {
  color: $linkColor;
}
a:hover,
a:focus {
  color: $linkColorHover;
}
a:active {
  background-color: $linkColorHover;
  color: #FFF;
}


// Headings
// --------------------------------------

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $headingsFontFamily;
  font-weight: 700;
}

h1,
h2,
h3 {
  text-shadow: 0 0 1px rgba(0,0,0,.1); // Helps text rendering on Windows
}


// Buttons
// -------------------------
.btn-primary {
  color: #FFF;
}
.btn-link {

  .caret {
    border-top-color: $linkColor;
  }

  &:hover .caret {
    border-top-color: $linkColorHover;
  }
}
.btn-flat {
  background-color: $grayLight;

  &.btn-primary {
    background-color: $brand;

    &:hover {
      background-color: darken($brand, 10%);
    }
  }
}


// Modal
// --------------------------------------
.modal-header {

  h3 {
    color: $brand;
  }
}
