/*------------------------------------*\
    $ARTICLE
\*------------------------------------*/


// Article sidebar
// -------------------------
article .sidebar {

  h3 {
    color: $asideHeadingColor;
    font-family: $asideHeadingFontFamily;
    @extend .gamma;
    line-height: 1;
  }

  .nav > li > a {
    color: $asideLinkColor;
    @extend .epsilon;
    margin-left: -20px;
    margin-right: -20px;
    text-decoration: none;

    &:hover {
      background: $white;
      color: $asideLinkColorHover;
    }
  }

  .nav > .active > a,
  .nav > .active > a:hover {
    background: none;
    color: $asideLinkColorHover;
  }

  .content,
  .nav-list {
    background: none;
    border: none;
    padding: 0 20px;
  }
}


// Article content
// -------------------------
article .content section,
article .content .media {
  margin-bottom: 20px;
}

article .content aside {
  padding-bottom: 20px;
  padding-top: 10px;
}


// Article - Landing
// -------------------------
.article-landing .hero-unit {

  li {
    @extend .zeta;
    line-height: 1;
    margin-bottom: 10px;
  }

  .nav > li {
    @extend .epsilon;
    line-height: 1.25;
    margin-bottom: 20px;

    > a {
      color: $textColor;

      &:hover {
        background-color: $white;

        .bridge-caret {
          border-color: $brand;
        }
      }
    }
  }
}


// Article - Story
// -------------------------
.story {

  &.thumb {

    a {
      color: $gray;
    }

    .abstract {
      @extend .eta;
    }

    .image {
      float: left;
      margin-right: $baseLineHeight;
    }

    .story-headline {
      color: $gray;
      @extend .zeta;
      line-height: 1;
      margin-top: 0;
    }
  }
}
