/*------------------------------------*\
    $CUSTOM
    $CONTACT
\*------------------------------------*/


table.contact-info {
  display: block;
  line-height: 1;
  width: 100%;

  a {
    text-decoration: underline;
  }
}


// Contact Info Icons
// ------------------
.icon-contact-info {

  .icon-phone,
  .icon-email,
  .icon-phone:before,
  .icon-email:before {
    display: block;
    position: relative;
    text-align: center;
    z-index: 1;
  }
  
  .icon-phone,
  .icon-email {
    z-index: 1;
  }

  .icon-phone:before,
  .icon-email:before {
    z-index: 2;
  }
}
.generatedcontent .icon-contact-info {

  .caret {
    border-color: transparent;
    position: absolute;
  }

  .caret:after {
    content: "";
    display: block;
    position: absolute;
    z-index: 3;
  }
}


// Google Map
// ------------------
#map_container {
  padding: 20px 0;
}

#map_sidebar, #map_canvas {
  color: $black;
  display: block;
  font-size: 13px;
  line-height: 18px;
  min-height: 30px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#map_canvas {
  height: 100%;
  min-height: 450px;

  p, ul, li {
    line-height: 16px;
    margin-bottom: 0;
  }
}

.pp-headline-address,
.pp-headline-hours {
  color: $gray;
  margin-bottom: 1px;
}

.pp-place-title {
  display: inline;
  font-size: 123%;
  font-weight: normal;
  line-height: 1.2em;
  margin-bottom: 2px;
  margin-right: 5px;
  margin-top: 2px;
  padding-top: 3px;
}
.res {
  border-collapse: collapse;

  .popover {
    border: none;
    display: block;
    float: left;
    margin-left: 2px;
    margin-top: 10px;
    padding: 0;
    position: relative;
    width: 24px;

    .arrow {
      border-width: 10px 5px 2px;
      left: 50%;
      margin-left: -5px;

      &:after {
        border: none;
        bottom: -1px;
      }
    }
  }

  .popover-content {
    color: $white;
    cursor: pointer;
    height: 22px;
    line-height: 22px;
    padding: 5px 2px 2px;
    text-align: center;
    width: 20px;
  }

  .one {
    clear: left;
    padding: 0 12px 9px 0;
  }

  .highlightMarker {
    background: $white;
    cursor: pointer;
  }
  
  .vcard {
    margin-left: 34px;
    padding: 9px 0 0;
  }
}

