<footer class="wp-footer" id="bottom" role="contentinfo" itemprop="WPFooter">
	<div id="set-location-modal" class="modal hide fade">
		#set ($VOID = $velocityPortletPreferences.setValue('portlet-setup-show-borders', 'false'))
		$theme.runtime("setlocationmodal_WAR_setlocationmodal10SNAPSHOT","",$velocityPortletPreferences.toString())
		#set ($VOID = $velocityPortletPreferences.reset())
	</div>
    <div class="row-fluid">
        <div class="container">
            <div class="span6">
                <p>&copy; $dateTool.get('yyyy') #ch_footer_copywrite()</p>
            </div>
            <nav class="span6">
                <ul class="nav inline" role="navigation">
                    <!--<li><a href="#set-location-modal" data-toggle="modal">Set Location</a></li>
                    #if (!$is_signed_in)
                        <a href="$sign_in_url" rel="nofollow">$sign_in_text</a>
                    #else
                        <a href="$sign_out_url" rel="nofollow">$sign_out_text</a>
                    #end
                    </li>-->
                    <!--<li><a href="/legal/online-privacy-and-security/">Privacy</a></li>-->
                    <li><a href="/legal/terms-of-use/">Terms of Use</a></li>
                    <li><a href="/feedback"><span class="icon-feedback" aria-hidden="true"><b></b><i></i></span> Feedback</a></li>
                    <!--<li><a href="/espanol">Espa&ntilde;ol</a></li>-->
                </ul>
            </nav>
        </div>
    </div>
</footer>