<!-- Header
================================================== -->
<nav class="wp-header clearfix" id="top" itemprop="WPHeader" role="banner">
    <div class="container">
        <ul class="nav visuallyhidden">
            <li><a href="#hero">Skip to Content</a></li>
            <li><a href="#nav">Skip to Navigation</a></li>
            <li><a href="/medicare">Return to Homepage</a></li>
        </ul>
        <div class="clearfix">
            <ul class="nav" itemscope itemtype="http://schema.org/Organization">
                <li class="nav-brand">
                    <a class="brand logo-regence-cs" href="$theme_display.getURLHome()">
                        <span class="brand-logo"><span class="hide-text">${ch_brand}</span></span>
                        <span class="brand-region">#ch_region_text()</span>
                    </a>
                </li>    
                #set ($theme_color = $theme_display.getColorSchemeId())
                #if ($theme_color == "02")
                    <li class="nav-login">
                        <a href="https://www.myasuris.com/" data-toggle="tooltip" title="Asuris">Sign in</a>
                    </li>
                #elseif ($theme_color == "03")
                    <li class="nav-login">
                    #if($is_signed_in)
                        <a href="$theme_display.getURLSignOut()">Sign out</a>
                    #else
                        <a href="#bridgspanSignInModal" data-toggle="modal" title="Bridgespan">Sign in</a>
                    #end

                    </li>
                #elseif ($theme_color == "01")
                    <li class="nav-login">
                        <a href="https://www.myregence.com/" data-toggle="tooltip" title="Regence">Sign in</a>
                    </li>
                #end
                <li class="nav-shopping">
                    <a href="#" data-target="#set-view-location" data-toggle="collapse" class="toggle shopping-toggle-button">#ch_location_audience()<small>#ch_location_text()</small></span><span aria-hidden="true" class="glyph-users hidden-phone"></span><b class="caret"></b></a>
                </li>
                <li class="nav-search">
                    <form class="form-search" action="http://www.regence.com/about/search.jsp" method="get" name="header-search" id="search" role="search">
                        <label for="searchQuery" class="hide">Search</label>
                        <input type="text" id="searchQuery" name="searchQuery" placeholder="Search" class="input-medium search-query">
                        <button type="submit" class="btn btn-link"><span class="glyph-search" aria-hidden="true"></span><span class="visuallyhidden">Go</span></button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>
<header id="set-view-location" class="collapse out">
    <div class="container">
        #set ($locPortletId = "setviewlocation_WAR_setviewlocation")
        $velocityPortletPreferences.setValue("portlet-setup-show-borders", "false")
        #set ($locRenderedPortletContent = $theme.runtime($locPortletId, "", $velocityPortletPreferences.toString()))
        $locRenderedPortletContent
        $velocityPortletPreferences.reset()
    </div>
</header>

<!-- Bridgespan Sign In Modal -->
#set ($locPortletId = "signinportlet_WAR_portalportletsignin")
$velocityPortletPreferences.setValue("portlet-setup-show-borders", "false")
#set ($locRenderedPortletContent = $theme.runtime($locPortletId, "", $velocityPortletPreferences.toString()))
$locRenderedPortletContent
$velocityPortletPreferences.reset()