#*
This file allows you to override and define new Velocity variables.
*#
#set($ch_brand = "bridgespan")
#set($ch_audience = "visitor")
#set($ch_region = "default")
#set($ch_site_array = $layout.getGroup().getName().split("_"))
#set($ch_brand = $ch_site_array.get(0))
#set($ch_audience = $ch_site_array.get(1))
#set($ch_region = $ch_site_array.get(2))

#macro(ch_region_text)
	#if($ch_brand == "bridgespan")
	        #if($ch_region == "default")
	                BlueCross BlueShield of Oregon
	        #elseif($ch_region == "or")
	                BlueCross BlueShield of Oregon
	        #elseif($ch_region == "wa")
	                BlueCross BlueShield of Washington
	        #end
	#end
#end
#macro(ch_location_text)
	#if($ch_brand == "bridgespan")
	        #if($ch_region == "default")
	                New Location
	        #elseif($ch_region == "or")
	                Oregon
	        #elseif($ch_region == "id")
	                Idaho
	        #elseif($ch_region == "wa")
	                Washington
	        #end
	#end
#end
#macro(ch_location_audience)
    #if($ch_audience == "visitor")
            Visitor
    #elseif($ch_audience == "employer")
            Employer
    #elseif($ch_audience == "producer")
            Producer
    #elseif($ch_audience == "provider")
            Provider
    #end
#end
