#*
This file allows you to override and define new Velocity variables.
*#
#macro(ch_region_text)
	#if($ch_brand == "bridgespan")
	        #if($ch_region == "default")
	                BlueCross BlueShield of Oregon
	        #elseif($ch_region == "or")
	                BlueCross BlueShield of Oregon
	        #elseif($ch_region == "wa")
	                BlueCross BlueShield of Washington
	        #end
	#end
#end
#macro(ch_location_text)
	#if($ch_brand == "bridgespan")
	        #if($ch_region == "default")
	                New Location
	        #elseif($ch_region == "or")
	                Oregon
	        #elseif($ch_region == "id")
	                Idaho
	        #elseif($ch_region == "wa")
	                Washington
	        #end
	#end
#end
#macro(ch_location_audience)
    #if($ch_audience == "visitor")
            Visitor
    #elseif($ch_audience == "employer")
            Employer
    #elseif($ch_audience == "producer")
            Producer
    #elseif($ch_audience == "provider")
            Provider
    #end
#end
