<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

#parse ($init)

<html class="#language("lang.dir")" dir="#language("lang.dir")" lang="$w3c_language_id">

<head>
    <title>$the_title - $company_name</title>

    $theme.include($top_head_include)

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="$javascript_folder/vendor/jquery-1.9.1.min.js"><\/script>')</script>
    <script type="text/javascript" src="$javascript_folder/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    <script>
        // set options for html5shiv
        if(!window.html5){ window.html5 = {}; }
        window.html5.shivMethods = false;
    </script>
    <script src="$javascript_folder/webshim/extras/modernizr-custom.js"></script>
    <script src="$javascript_folder/webshim/polyfiller.js"></script>
    <script src="$javascript_folder/webshim/webshim.js"></script>
    <script type="text/javascript">
        var P14n = P14n || {};
        P14n.brand='${ch_brand}';
        P14n.audience='${ch_audience}';
        P14n.region = '${ch_region}'||'';
        $('#togglemodal').click(P14n.toggleLocationModal);
    </script>

    <link rel="shortcut icon" href="$images_folder/favicon.ico">
</head>

<body class="$css_class">
    
    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->

    $theme.include($body_top_include)

    #if ($is_signed_in)
        #dockbar()
    #end

    #parse ("$full_templates_path/header.vm")
    
    <div id="main" role="main">
        <div class="container">    
        #if ($selectable)
            $theme.include($content_include)
        #else
            $portletDisplay.recycle()
            $portletDisplay.setTitle($the_title)
            $theme.wrapPortlet("portlet.vm", $content_include)
        #end

            #parse ("$full_templates_path/navigation.vm")

        #if ($has_navigation || $is_signed_in)
        	#if (${ch_audience} != "visitor" && ${ch_brand} != "bridgespan")
            	#parse ("$full_templates_path/navigation_information.vm")
        	#end
        #end
            #parse ("$full_templates_path/navigation_utility.vm")
        </div> <!-- /container -->
    </div> <!-- /main -->
    
    #parse ("$full_templates_path/footer.vm")

    $theme.include($body_bottom_include)  
    
    <script type="text/javascript" src="$javascript_folder/vendor/bootstrap.min.js"></script>
    <script type="text/javascript" src="$javascript_folder/plugins.js"></script>
    <script type="text/javascript" src="$javascript_folder/vendor/webtrends.js"></script>
    <script type="text/javascript" src="$javascript_folder/internal-library.js"></script>
    <script type="text/javascript" src="$javascript_folder/script.js"></script>

</body>

$theme.include($bottom_include)

</html>
