/*------------------------------------*\
    $FONT FACE
\*------------------------------------*/


h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

.alert,
.well-large {

  h1, h2, h3, h4, h5, h6 {
    font-family: $sansFontFamilySemibold;
    font-weight: 400;
  }
}
