/*------------------------------------*\
    $GENERATED CONTENT
\*------------------------------------*/


ul.bulleted > li {
  list-style: none;
  position: relative;

  &:before {
    background: $bulletBackground;
    @include border-radius(2px);
    content: "";
    height: 8px;
    left: -($listIndent);
    margin-top: -3px;
    position: absolute;
    top: 50%;
    width: 8px;
  }
}
