/*------------------------------------*\
    $CUSTOM
    $LANDING
\*------------------------------------*/

@font-face {
  font-family: 'docGlyphs';
  src:url('../fonts/docs/icomoon.eot');
  src:url('../fonts/docs/icomoon.eot?#iefix') format('embedded-opentype'),
    url('../fonts/docs/icomoon.woff') format('woff'),
    url('../fonts/docs/icomoon.ttf') format('truetype'),
    url('../fonts/docs/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
/*[data-icon]:before {
  font-family: 'docGlyphs';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}*/

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.docGlyph-quill, .docGlyph-book, .docGlyph-meter, .docGlyph-new-tab, .docGlyph-embed, .docGlyph-cloud, .docGlyph-fire, .docGlyph-rocket, .docGlyph-binoculars, .docGlyph-busy, .docGlyph-screen, .docGlyph-laptop, .docGlyph-mobile, .docGlyph-tablet, .docGlyph-tv, .docGlyph-bullhorn, .docGlyph-podcast, .docGlyph-home {
  font-family: 'docGlyphs';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.docGlyph-quill:before {
  content: "\e000";
}
.docGlyph-book:before {
  content: "\e001";
}
.docGlyph-meter:before {
  content: "\e002";
}
.docGlyph-new-tab:before {
  content: "\e003";
}
.docGlyph-embed:before {
  content: "\e004";
}
.docGlyph-cloud:before {
  content: "\e005";
}
.docGlyph-fire:before {
  content: "\e006";
}
.docGlyph-rocket:before {
  content: "\e007";
}
.docGlyph-binoculars:before {
  content: "\e008";
}
.docGlyph-busy:before {
  content: "\e009";
}
.docGlyph-screen:before {
  content: "\e00a";
}
.docGlyph-laptop:before {
  content: "\e00b";
}
.docGlyph-mobile:before {
  content: "\e00c";
}
.docGlyph-tablet:before {
  content: "\e00d";
}
.docGlyph-tv:before {
  content: "\e00e";
}
.docGlyph-bullhorn:before {
  content: "\e00f";
}
.docGlyph-podcast:before {
  content: "\e010";
}
.docGlyph-home:before {
  content: "\e011";
}

// Landing Intro
// -------------------------

.btn-landing {
  @include border-radius(0);
  @include box-shadow("1px 1px 0 #FFF, 4px 4px 0 rgba(0,0,0, .2)");
  color: #FFF;
  font: 2rem/1 $sansFontFamily;
  padding: 30px 15px;

  &:active {
    @include box-shadow(none);
  }
  h2,
  h3 {
    color: #FFF;
    font-family: $sansFontFamilySemibold;

    small {
      color: #FFF;
      color: rgba(255,255,255, .8);
      display: block;
    }
  }
  [class*="docGlyph"] {
    font-size: 3rem;
    line-height: 1;
  }
}

.landing-intro {
  height: 400px;
  text-align: center;

  .caption-intro {
    left: 0;
    position: absolute;
    right: 0;
    top: 70px;
    -webkit-animation: fadeIn 2s;
       -moz-animation: fadeIn 2s;
            animation: fadeIn 2s;

    h1 {
      font-family: $sansFontFamilyBold;
      text-shadow: 1px 1px 0 #fff, 3px 3px 0 rgba(0,0,0, .2);
    }
    p {
      text-shadow: 1px 1px 0 #fff;
    }
    .btn {
      text-align: left;
      padding: 20px 30px 20px 100px;
      -webkit-animation: fadeInLeftBig 2s;
         -moz-animation: fadeInLeftBig 2s;
              animation: fadeInLeftBig 2s;
      -webkit-animation-fill-mode: both;
         -moz-animation-fill-mode: both;
              animation-fill-mode: both;
      -webkit-animation-delay: .2s;
         -moz-animation-delay: .2s;
              animation-delay: .2s;

      h2 {
        margin: 0;
      }
      [class*="docGlyph"] {
        float: left;
        font-size: 2.25rem;
        margin-left: -4.25rem;
      }
    }
  }
}



// Landing Buttons
// -------------------------

.landing-buttons {
  padding-top: 20px;
  text-align: center;
}

.caption-javascript .btn-landing [class*="docGlyph"] {
  font-size: 81px;
  line-height: 54px;
  vertical-align: bottom;
}



// Landing Content
// -------------------------

.landing-content {
  color: #5a5a5a;
  padding-top: 50px;
  text-align: center;

  h2 {
    margin-bottom: 5px;
  }
  .byline {
    margin-bottom: 40px;
    font-size: 1.3333rem;
    font-weight: 300;
    line-height: 1.25;
    color: #999;
  }
}

.image {
  display: block;
  margin: 0 auto 30px;
  max-height: 145px;
}

@-webkit-keyframes fadeIn {
    0% { opacity: 0 }
    100% { opactiy: 1 }
}
@-moz-keyframes fadeIn {
    0% { opacity: 0 }
    100% { opactiy: 1 }
}
@keyframes fadeIn {
    0% { opacity: 0 }
    100% { opactiy: 1 }
}
@-webkit-keyframes fadeInLeftBig {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
  }
  
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes fadeInLeftBig {
  0% {
    opacity: 0;
    -moz-transform: translateX(-2000px);
  }
  
  100% {
    opacity: 1;
    -moz-transform: translateX(0);
  }
}
@-o-keyframes fadeInLeftBig {
  0% {
    opacity: 0;
    -o-transform: translateX(-2000px);
  }
  
  100% {
    opacity: 1;
    -o-transform: translateX(0);
  }
}
@keyframes fadeInLeftBig {
  0% {
    opacity: 0;
    transform: translateX(-2000px);
  }
  
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.dotted {
  background: #EAEAEA;
}

.multiplebgs.cssgradients .dotted {
  background-color: #F5F5F5;
  background-image: -webkit-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
  background-image: -moz-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
  background-image: -ms-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
  background-image: repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
  -webkit-background-size: 3px 3px;
  -moz-background-size: 3px 3px;
  background-size: 3px 3px;
}


/* Desktops
------------------------- */
@media (min-width: 768px) {

  .jumbotron {
    @include box-shadow("inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2)");
  }
}

/* Tablet to desktop
------------------------- */
@media (min-width: 768px) and (max-width: 979px) {

  .caption-javascript .btn-landing [class*="docGlyph"] {
    font-size: 54px;
    line-height: 36px;
  }
}


/* Landscape phones
------------------------- */
@media (max-width: 480px) {

  /* Tighten up footer */
  #bottom {
    padding: 20px 0;
  }
}


