//
// Custom typography
// --------------------------------------------------


// Headers
// -------------------------
.page-header,
.section-header {

   h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }
}


// Lists
// -------------------------
.faq dl {
  margin-left: 0;

  dt {
    text-align: left;
  }
}


// Dropdown menu
// -------------------------
.dropdown-menu {
  color: $black;
}


// Buttons
// -------------------------
.btn small {
  display: block;
}
.btn-flat {
  background: none;
  border: none;
  @include border-radius(0);
  @include box-shadow(none);
}


// Modals
// -------------------------
.modal {
  color: $gray;
  width: 515px;

  form {
    margin: 0;
  }
}
.modal-header {
  padding: 10px 15px;
}
.modal-body {
  padding: 20px 15px 15px;
}
.modal-footer {
  padding: 19px 15px 20px;
}


// Tooltips
// -------------------------
.tooltip {
  &.top    { margin-top:  -10px; }
  &.left   { margin-left: -10px; }
}


// Images
// -------------------------
figcaption {
  padding: 5px 1px;
}


