/*------------------------------------*\
    $ERROR
    $404
\*------------------------------------*/


// Error - 404
// -------------------------
$alert404Background:                transparent url("images/regence/large-warning.png") no-repeat 0 12px;
$alert404Color:                     #999;
$alert404FontSize:                  24px;

$alert404HeadingColor:              #d06a21;
$alert404HeadingSize:               36px;


// 404 page
.alert-404 {
  background: $alert404Background;
  color: $alert404Color;
  font-size: $alert404FontSize;
  line-height: 1.2;
  padding: 0 0 0 120px;

  h2 {
    color: $alert404HeadingColor;
    font-size: $alert404HeadingSize;
    line-height: 1;
    margin-top: 0;
  }
}
