<div class="page-header">
    <h1>$Product_Name.getData()</h1>
    <p class="lead">Synergistically redefine cross-media scenarios through enabled metrics. Synergistically pursue dynamic innovation without one-to-one results.</p>
</div>
<div class="row">
    <section class="span8">
        <div class="media">
            <a class="pull-left" href="#">
                <img class="media-object" src="../images/content/plans/plans-thermometer.png">
            </a>
            <div class="media-body">
                <h2 class="media-heading gamma">Free thermometers</h2>
                <p>Assertively maximize high-quality meta-services before open-source collaboration and idea-sharing. Progressively engage user friendly meta-services before bleeding-edge networks.</p>
            </div>
        </div>
        <div class="media">
            <a class="pull-left" href="#">
                <img class="media-object" src="../images/content/plans/plans-ambulance.png">
            </a>
            <div class="media-body">
                <h2 class="media-heading gamma">Emergency services</h2>
                <p>Assertively maximize high-quality meta-services before open-source collaboration and idea-sharing. Progressively engage user friendly meta-services before bleeding-edge networks.</p>
            </div>
        </div>
        <div class="media">
            <a class="pull-left" href="#">
                <img class="media-object" src="../images/content/plans/plans-pills.png">
            </a>
            <div class="media-body">
                <h2 class="media-heading gamma">Pharmacies in the city</h2>
                <p>Assertively maximize high-quality meta-services before open-source collaboration and idea-sharing. Progressively engage user friendly meta-services before bleeding-edge networks.</p>
            </div>
        </div>
    </section>
    <aside class="span4">
        <h3>Call for more</h3>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
        <p>Call (206) 555-1234</p>
        <h3>Related documents</h3>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
        <ul class="unstyled">
            <li><a href="#">A link goes here</a></li>
            <li><a href="#">Another links goes here</a></li>
        </ul>
    </aside>
</div>

Synopsis_1.getData()
Synopsis_2.getData()
Synopsis_3.getData()
Synopsis_4.getData()
Synopsis_5.getData()
Call_to_Action.getData()
Network_Options.getData()
Indy_Ded_in.getData()
Indy_Ded_out.getData()
Fam_Ded_in.getData()
Fam_Ded_out.getData()
Copay_Primary_in.getData()
Copay_Specialist_in.getData()
Copay_Urgent_in.getData()
ER_Copay.getData()
Coins_in.getData()
Coins_out.getData()
Indy_OOP_Max_in.getData()
Indy_OOP_Max_out.getData()
Fam_OOP_Max_in.getData()
Fam_OOP_Max_out.getData()
Rx_Tier_1.getData()
Rx_Tier_2.getData()
Rx_Tier_3.getData()
Rx_Tier_4.getData()
Formulary.getData()
Wellness_Resources.getData()
Optional_Benefits.getData()
Banking.getData()
PlanHighlightsLink.getData()
RelatedDocumentsLink.getData()    

<section class="tabbable" id="tabbable-plan">

    <ul class="nav nav-tabs nav-tabs-centered" id="planTab">
        <li class="active"><a href="#overview">Overview</a></li>
        <li><a href="#networkOptions">Network options</a></li>
        <li><a href="#pharmacyBenefits">Pharmacy benefits</a></li>
        <li><a href="#optionalBenefits">Optional benefits</a></li>
        <li><a href="#banking">Banking</a></li>
        <li><a href="#exclusionsLimitations">Exclusions &amp; limitations</a></li>
        <li><a href="#wellnessResources">Wellness resources</a></li>
    </ul>

    <div class="tab-content">                    
        <div class="tab-pane active" id="overview">
            <h3>At-a-glance</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th>In network</th>
                        <th>Out of network</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="th">Network</td>
                        <td>Regence PPO Network</td>
                        <td>N/A</td>
                    </tr>
                    <tr>
                        <td class="th">Deductible</td>
                        <td>$1,000</td>
                        <td>$1,000</td>
                    </tr>
                    <tr>
                        <td class="th">Primary/Specialist visit</td>
                        <td>20%</td>
                        <td>20%</td>
                    </tr>
                    <tr>
                        <td class="th">Coinsurance</td>
                        <td>20%</td>
                        <td>20%</td>
                    </tr>
                    <tr>
                        <td class="th">Coinsurance max</td>
                        <td>$3,600</td>
                        <td>$3,600</td>
                    </tr>
                    <tr>
                        <td class="th">ER Copay</td>
                        <td>$200</td>
                        <td>$200</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="tab-pane" id="networkOptions">Network</div>
        <div class="tab-pane" id="pharmacyBenefits">Pharmacy</div>
        <div class="tab-pane" id="optionalBenefits">Optional</div>
        <div class="tab-pane" id="banking">Banking</div>
        <div class="tab-pane" id="exclusionsLimitations">Exclusions</div>
        <div class="tab-pane" id="wellnessResources">Wellness</div>
    </div>
</section>
